<div class="container">
    <div class="gallery">
        <div class="column">
            <img src="/projects/title/digital.svg" style="text-align: left; width: 25vw;">
            <div class="photo">
                {% image "src/img/projects/perso/digital/3d.jpeg", "Fleur rose" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/2d.jpeg", "Fleur blanche/rose" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/1d.jpeg", "Fleur Matrix" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/4d.jpeg", "Une muscaris (qui a mangé du champignon vénéneux et qui plane) ~my mother" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/5d.jpeg", "Let ehm Bloom" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/6d.jpg", "If you are a bird" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/13d.jpg", "Eyes on the 4th-wall" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/perso/digital/8d.jpg", "ZITURA x Andy Warhol" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/9d.jpg", "Coolest Selfie" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/10d.jpeg", "Flower Power Red-Blue" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/11d.jpeg", "Flower Power Green-Blue" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/12d.jpeg", "Call someone" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/7d.jpg", "K.I.D.S" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/21d.jpg", "Kickin' Dope Shit" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/14d.jpeg", "Flowers" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/perso/digital/15d.jpg", "La Maison Biscornue" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/16d.jpg", "Modern Snow White" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/17d.jpg", "The Duality of People" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/18d.jpg", "Ride or Die" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/19d.jpg", "RE:LOOK" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/digital/20d.jpg", "Frankfurt by Night" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/2.photo"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/3.paper"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>