<div class="container">
    <div class="gallery">
        <div class="column">
            <img src="/projects/title/photo.svg" style="text-align: left">
            <div class="photo">
                {% image "src/img/projects/perso/photo/33p.jpg", "Blue Skies & Trees"  %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/3p.jpg", "Sunglasses feeling" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/2p.jpg", "The Two Towers" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/4p.jpg", "The most stylish person in Budapest" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/5p.jpg", "Blue Rusty Cars" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/6p.jpg", "Ride or Die" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/7p.jpg", "Budapest Trams" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/36p.jpg", "Rue Grand-Saint-Jean, Lausanne" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/9p.jpg", "Maastricht Style" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/10p.jpg", "Frankfurt by Night" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/39p.jpg", "My big bro in a Stylish outfit" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/perso/photo/11p.jpg", "The Explosion of the Sun" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/12p.jpg", "red Car" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/19p.jpg", "Architecture" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/14p.jpg", "Jewelry Shop in Frankfurt" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/15p.jpg", "Frankfurt Life by Night" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/35p.jpg", "Le palais de Rumine" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/17p.jpg", "Plants" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/18p.jpg", "Architecture BW" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/40p.jpg", "Frankfurt Schauspiel" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/21p.jpg", "Muscaris" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/22p.jpg", "Mexican Plum" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/23p.jpg", "Bruxelles by Night" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/24p.jpg", " Night Lights" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/25p.jpg", "Black and White" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/1p.jpg", "Budapest Shadow" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/perso/photo/30p.jpg", "Blue Blue Sky" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/27p.jpg", "Blue Porsche" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/28p.jpg", "Bruxelles Architecture" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/26p.jpg", "Mailboxes" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/31p.jpg", "Budapest Tram People" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/32p.jpg", "Shaking Tree" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/37p.jpg", "My Dad and Brother looking at Art" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/34p.jpg", "Der Wanderer aka My Brother" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/16p.jpg", "Blue Bike" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/8p.jpg", "Jewelry Shop in Frankfurt" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/13p.jpg", "Red car" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/perso/photo/38p.jpg", "Blue Night Frankfurt" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/3.paper"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/1.digital"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>
