<div class="container">
    <div class="gallery">
        <div class="column">
            <img src="/projects/title/paper.svg" width="300vw" style="text-align: left">
            <div class="photo">
                {% image "src/img//projects/perso/paper/2c.jpg", "Never" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/3c.jpg", "E" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/4c.jpg", "E" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/5c.jpg", "નાયક" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/6c.jpg", "Flwoers" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/8c.jpg", "I feel Lost" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/24c.jpg", "Skyline at Nighttime" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/50c.jpg", "Ribcage" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/26c.jpg", "Neighbour" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/27c.jpg", "Star" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/28c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/29c.jpg", "lots of Flowers" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/30c.jpg", "Flower Power" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/25c.jpg", "Durch den Monsun" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/60c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/52c.jpg", "ABC" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/49c.jpg", "Flower on my Mind" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/61c.jpg", "Boom" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img//projects/perso/paper/9c.jpg", "Self Portrait" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/10c.jpg", "$E%&DRU&UZH" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/11c.jpg", "ABC" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/13c.jpg", "White Stars" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/14c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/15c.jpg", "Looooooong Women" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/31c.jpg", "Paint it Red" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/32c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/39c.jpg", "Life ain't easy" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/38c.jpg", "Rise" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/35c.jpg", "Ein Teil" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/36c.jpg", "Flower Power" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/37c.jpg", "So this is Love" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/51c.jpg", "ABC" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/54c.jpg", "So it goes" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/59c.jpg", "Acuri" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img//projects/perso/paper/16c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/17c.jpg", "Journey" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/18c.jpg", "BW Flowers" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/19c.jpg", "Stars" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/20c.jpg", "Hello?" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/22c.jpg", "Acur?" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/23c.jpg", "Time" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/40c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/41c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/48c.jpg", "Dope Fit" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/43c.jpg", "Collage" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/44c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/45c.jpg", "Acuri" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/46c.jpg", "Bang" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/47c.jpg", "Collage" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/62c.jpg", "Re look" %}
            </div>
            <div class="photo">
                {% image "src/img//projects/perso/paper/53c.jpg", "Flower Power" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/1.digital"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/2.photo"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>