<div id="aboutsm">
    <div class="aimg-sm">
        <div style="text-align: left">
        <p> Hey, I am Eliott, a 20-year-old graphic design and visual communication student, currently getting my bachelors degree at the HMKW in Frankfurt am Main. <br>Filling my sketchbooks with flowers, collages and other stuff while taking pictures on my Bike, and overthinking over typography are some of the things I love to do.</p>
        <p>At the intersection of my Swiss Belgium German background and artistic pursuits, I'm Acuri—on a journey to visually tell stories and leave my mark in the dynamic realm of design.</p>
        <a style="float: left"><img src="/about/signature.svg"></a
        </div>
        <img src="/about/about-p-sm.jpg" style="text-align: center; width: 60vw; height: 100%; margin-top: 3vw; border-radius: 10%">
        <a>
            <h3 style="margin-bottom: -3vw; margin-top: 10vh">Contact:</h3>
            <h4>
                e-mail: <a href="mailto:eliott@hoplahup.net" class="contact-sm">eliott@hoplahup.net</a>
                <br>Tel.: <a href="tel:+4915792313297" class="contact-sm">+4915792313297</a></br>
                Instagram: <a href="https://www.instagram.com/_acuri_/" class="contact-sm">@_acuri_</a>
            </h4>
        </a>
    </div>
</div>
    <div class="hand">
        <h2 style="margin-bottom: 2em; margin-top: 5em">My Jewelry Collection:</h2>
        <img src="/hand.png" style="width: 90vw; margin-bottom: 5em; margin-left: -4.8vw">
    </div>
</div>