<div id="aboutlg">
    <div class="aimg">
    <img src="/about/about-p_2.jpg" alt="me" title="me aka Acuri" width="30%" style="width: 20vw; height: 100%">
    <div style="width: 24vw">
        <p style="margin-bottom: 5vw"> Hey, I am Eliott, a 20-year-old graphic design and visual communication student, currently getting my bachelors degree at the Media University in Frankfurt am Main. <br><br>Filling my sketchbooks with flowers and Collages on my Bike, while taking pictures, listening to a Tribe called Quest aaaand overthinking over typography are some of the things I love to do.</p>
        <h2>Contact:</h2>
        <a>
            <h4>
                e-mail: <a href="mailto:eliott@hoplahup.net" class="contact">eliott@hoplahup.net</a>
                <br>Tel.: <a href="tel:+4915792313297" class="contact">+4915792313297</a></br>
                Instagram: <a href="https://www.instagram.com/_acuri_/" class="contact">@_acuri_</a>
            </h4>
        </a>
    </div>
</div>
    <div class="hand">
        <a href="javascript:window.scrollBy%280%2Cwindow.innerHeight%2C%20%20%7Bbehavior%3A%20%22smooth%22%7D%29%3B">
            <img src="/about/collection.svg" style="width: 19vw; float: right; margin-top: -12em; rotate: -20deg;">
        </a>
        <img src="/about/hand.png" style="width: 90vw; margin-bottom: 5em; margin-left: -4.8vw; margin-top: 5em">
    </div>
</div>