<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title> Acuri/{{ title }}</title>
    {% include "src/_layouts/meta-tags.njk" %}
    <link rel="icon" href="/favicon.png">
    <link rel="mask-icon" href="/favicon.png">
    <link rel="stylesheet" href="/style.css?vers={{builtAt}}">
</head>
<body>
    {% include "src/_layouts/header-lg.njk" %}
    {% include "src/_layouts/header-sm.njk" %}
    {{ content | safe }}
    {% include "src/_layouts/footer.njk" %}
    <script src="/pic-click.js?vers={{builtAt}}"></script>
</body>
</html>
