<footer id="footer">
    <a href="/impressum/">Impressum</a>
    <a href="mailto:eliott@hoplahup.net">Email</a>
    <a href="https://www.instagram.com/_acuri_/">Insta</a>
    <a href="/sure/">Exit</a>
</footer>
