<nav style="text-align: center; margin-bottom: 7vw" id="navbarsm" class="navbarsm">
    <a href="/"> Home </a>
    <a href="/projects/" style="margin-left: 5vw; margin-right: 5vw"> Projects </a>
    <a href="/about/"> About Me </a>
</nav>
