<nav style="text-align: right; margin-bottom: 9vw; margin-left: 2em" id="navbarlg" class="navbarlg">
    <div id="logodiv">
        <img src="/logo.svg" id="logo" width="90vw" style="margin-top: -1em">
        <a href="/"><img src="/logo-red.svg" id="logored" width="90vw" style="margin-top: -1em"></a>
    </div>
    <a href="/"> Home </a>
    <a href="/projects/"> Projects </a>
    <a href="/about/"> About Me </a>
</nav>
