<!-- HTML Meta Tags -->
<meta name="description" content="Portfolio">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://acuri.eu">
<meta property="og:type" content="website">
<meta property="og:image" content="/OG-image.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="acuri.eu">
<meta property="twitter:url" content="https://acuri.eu">
<meta name="twitter:image" content="/OG-image.jpg">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->