<a id="worktypo"><img src="/projects/title/t-perso.svg" style="width: 20vw"></a>
<div class="gallery-personal">
    <div class="gallery-item">
        <img src="/projects/cover/p-digital.jpg">
        <a href="/1.digital"><img src="/projects/cover/c-digital.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-photo.jpg">
        <a href="/2.photo"><img src="/projects/cover/c-photo.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-paper.jpg">
        <a href="/3.paper"><img src="/projects/cover/c-paper.jpg" class="cover"></a>
    </div>
</div>

<a id="worktypo"><img src="/projects/title/t-uni.svg" style="width: 20vw"></a>
<div class="gallery-university">
    <div class="gallery-item">
        <img src="/projects/cover/p-bastel.jpg">
        <a href="/uni/bastel"><img src="/projects/cover/c-bastel.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-foa.jpg">
        <a href="/uni/foa"><img src="/projects/cover/c-foa.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-jeder.jpg">
        <a href="/uni/mensch"><img src="/projects/cover/c-jeder.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-zza.jpg">
        <a href="/uni/zza"><img src="/projects/cover/c-zza.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-swag.jpg">
        <a href="/uni/swag"><img src="/projects/cover/c-swag.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-wia.jpg">
        <a href="/uni/wia"><img src="/projects/cover/c-wia.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-vision.jpg">
        <a href="/uni/vision"><img src="/projects/cover/c-vision.jpg" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-sitc.jpg">
        <a href="/uni/sitc"><img src="/projects/cover/c-sitc.jpg" class="cover"></a>
    </div>
</div>