<a id="worktypo"><img src="/projects/title/t-perso.svg" style="width: 25vw"></a>
    <div class="gallery-item">
        <img src="/projects/cover/p-digital.png">
        <a href="/1.digital"><img src="/projects/cover/c-digital.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-photo.png">
        <a href="/2.photo"><img src="/projects/cover/c-photo.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-paper.png">
        <a href="/3.paper"><img src="/projects/cover/c-paper.png" class="cover"></a>
    </div>

<a id="worktypo"><img src="/projects/title/t-uni.svg" style="width: 25vw"></a>
    <div class="gallery-item">
        <img src="/projects/cover/p-bastel.png">
        <a href="/uni/bastel"><img src="/projects/cover/c-bastel.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-foa.png">
        <a href="/uni/foa"><img src="/projects/cover/c-foa.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-mensch.png">
        <a href="/uni/mensch"><img src="/projects/cover/c-mensch.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-sitc.png">
        <a href="/uni/sitc"><img src="/projects/cover/c-sitc.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-swag.png">
        <a href="/uni/swag"><img src="/projects/cover/c-swag.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-wia.png">
        <a href="/uni/wia"><img src="/projects/cover/c-wia.png" class="cover"></a>
    </div>
    <div class="gallery-item">
        <img src="/projects/cover/p-zza.png">
        <a href="/uni/zza"><img src="/projects/cover/c-zza.png" class="cover"></a>
    </div>