<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="gallery">
        <div class="column">
            <p style="text-align: left">The concept was to design a flower that remains with you, even if you forget to water it, which you can also build yourself. <br> A simple instruction and a simple Design with bright colours. </br></p>
            <div class="photo">
                {% image "src/img/projects/uni/bastel/bastel4.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/bastel/bastel5.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/bastel/bastel2.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/bastel/bastel1.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/uni/foa"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div id="buffer_b">&nbsp;</div>