<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="gallery">
        <div class="column">
            <p style="text-align: left">Friends of Animals, a non-profit organization, champions the rights of both free-living and domestic nonhuman animals.</br><br>They publish a magazine twice a year to raise awareness about the current state of affairs in the world of animals.</br><br>In this redesign, the objective was to expand the audience, specifically targeting younger people, while retaining the existing readership.</br></p>
            <div class="photo">
                {% image "src/img/projects/uni/foa/foa1.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">

            <div class="photo" style="border-style: solid">
                {% image "src/img/projects/uni/foa/foa2.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo" style="border-style: solid">
                {% image "src/img/projects/uni/foa/foa3.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo" style="border-style: solid">
                {% image "src/img/projects/uni/foa/foa4.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo" style="border-style: solid">
                {% image "src/img/projects/uni/foa/foa5.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/uni/mensch"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/uni/bastel"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>