<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="gallery">
        <div class="column">
            <p style="text-align: left">Ferdinand von Schirach's book, "Jeder Mensch," delves into the evolution of human rights and their relevance in the modern era.
                He explores the historical context and underlying principles behind these rights before introducing innovative ideas to bring new interest
                in this contemporary subject.</p>
            <div id="mensch">
                <p style="text-align: left">The objective was to inspire individuals to engage in conversations and contemplation on this matter. The layout aimed to strike a balance between an attractive and serious design, fostering a connection with readers.<br><a href="https://jeder-mensch.eu/en">https://jeder-mensch.eu/en</a></p>
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/mensch/mensch2.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">

            <div class="photo">
                {% image "src/img/projects/uni/mensch/mensch3.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/mensch/mensch4.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/mensch/mensch5.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/mensch/mensch1.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/uni/zza"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/uni/foa"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>