<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="gallery">
        <div class="column">
            <p style="text-align: left">Summer in the City is a festival held in Frankfurt am Main, Germany, featuring exceptional artists from around the world. With a diverse lineup and the vibrant ambiance of summer, the people can immerse themselves in a memorable experience.</p>
            <div class="photo">
                {% image "src/img/projects/uni/sitc/5.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <p style="text-align: left; margin-bottom: -1em">The design's objective was to capture the warmth of summer with a modern and colourful aesthetic. Additionally, it serves as a souvenir, a piece that can evoke the memories of the event and double as a great wall poster.</p>
            <div class="photo">
                {% image "src/img/projects/uni/sitc/4.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/sitc/1flyer.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/sitc/2flyer.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/uni/vision"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>