<div class="container">
    <div class="gallery">
        <div class="column">
            <p style="text-align: left">A basic typography exercise involved creating ten distinct styles for a single word. The purpose was to showcase our ability in utilizing typography and various design elements to craft unique pieces that differ from one another.</p>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag4.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag9.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag3.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag5.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag6.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag7.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag2.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag8.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/swag/swag1.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/uni/wia"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/uni/zza"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>