<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="gallery">
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/vision/2.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/vision/1.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/vision/5.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <p style="text-align: left">Visual agnosia is a psychological condition in which visual stimuli are impaired, causing a person to be unable to recognize certain shapes and faces. Although the shapes and faces are visible, they cannot be identified.<br>The series "Deformed Vision" aims to photographically represent this issue and bring it closer to understanding.</p>
            <div class="photo" style="margin-top: 3.5em">
                {% image "src/img/projects/uni/vision/4.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo">
                {% image "src/img/projects/uni/vision/3.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/vision/7.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/vision/6.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/uni/sitc"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/uni/wia"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div id="buffer_b">&nbsp;</div>