<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="gallery">
        <div class="column">
            <p style="text-align: left">“Zu zweit allein” is a photography project that captures the intimacy of two people, while being surrounded by an urban world full of other people. The german word “zweisamkeit” conveys the notion of being together but alone.</p>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza1.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza2.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza3.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <p style="text-align: left">By using an older lens I dirtied up the shot creating an almost dreamlike ambiance that undermines this intimate feeling of being together but alone.</p>
            <div class="photo" style="margin-top: 3.5em">
                {% image "src/img/projects/uni/zza/zza7.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza8.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza9.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza10.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza11.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza12.jpg", "todo-alt-tag" %}
            </div>
        </div>
        <div class="column">
            <div class="photo" style="margin-top: 10.5em">
                {% image "src/img/projects/uni/zza/zza4.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza5.jpg", "todo-alt-tag" %}
            </div>
            <div class="photo">
                {% image "src/img/projects/uni/zza/zza6.jpg", "todo-alt-tag" %}
            </div>
        </div>
    </div>
</div>

<div id="buffer_t">&nbsp;</div>

<div class="back">
    <img src="/projects/title/back.svg" width="260vw" style="margin-bottom: -7em">
    <a href="/projects"><img src="/projects/title/back-rot.svg" class="backred" width="260"></a>
</div>

<div class="pfeil" style="left: 10vw">
    <img src="/projects/title/pfeil-l.svg" width="150vw">
    <a href="/uni/mensch"><img src="/projects/title/pfeil-l-rot.svg" class="pfeilred" width="150vw"></a>
</div>

<div class="pfeil" style="right: 10vw">
    <img src="/projects/title/pfeil-r.svg" width="150vw">
    <a href="/uni/swag"><img src="/projects/title/pfeil-r-rot.svg" class="pfeilred" width="150vw" alt="On Paper"></a>
</div>

<div id="buffer_b">&nbsp;</div>