/* font-face */
@font-face {
    font-family: "Epilogue-Black";
    src: url("fonts/Epilogue-Black.woff2") format("woff2"),
    url("fonts/Epilogue-Black.woff") format("woff"),
    url("fonts/Epilogue-Black.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "BespokeSlab-Regular";
    src: url("fonts/BespokeSlab-Regular.woff2") format("woff2"),
    url("fonts/BespokeSlab-Regular.woff") format("woff"),
    url("fonts/BespokeSlab-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}
/* body */
body {
    background-color: #FFF9EF;
    color: #1E1E1E;
    font-family: "BespokeSlab-Regular";
    min-height: 100vh;
    margin: 4.8vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
}

/* logo */
#logodiv {
    position: absolute;
}
#logored {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .3s;
}
#logodiv:hover #logored {
    opacity: 1;
}

/* navbar - lg - general */
.navbarlg {
    position: sticky;
    top: 0;
    padding-top: 4em;
}
.navbarlg a:link, .navbarlg a:visited {
    color: #1E1E1E;
    text-decoration: none;
    margin: 20px;
    font-family: "Epilogue-Black";
}
.navbarlg a:hover {
    color: #FF002E;
    transition: all 0.2s ease-in-out;
}

/* navbar - sm - general */
.navbarsm {
    position: sticky;
    top: 0;
    padding-top: 4em;
}
.navbarsm a:link, .navbarsm a:visited {
    color: #1E1E1E;
    text-decoration: none;
    font-family: "Epilogue-Black";
}
.navbarsm a:hover {
    color: #FF002E;
    transition: all 0.2s ease-in-out;
}

/* footer */
#footer {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    text-align: center;
    bottom: 0px;
}
#footer a:link, #footer a:visited {
    color: #1E1E1E;
    text-decoration: none;
    font-family: "Epilogue-Black";
    margin: 20px;
}
#footer a:hover {
    color: #FF002E;
    transition: all 0.1s ease-in-out;
}

#mensch a:link, #mensch a:visited{
    color: #FF002E;
}

/* media queries - index.page */
@media screen and (max-width: 800px) {
    #navbarsm {
        display: block;
    }
    #navbarlg {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    #navbarsm {
        display: none;
    }
    #navbarlg {
        display: block;
    }
}

/* portfolio - video */
#portfolio {
    display: block;
    text-align: center;
    border: 1em;
    margin-top: -6em;
}

/* intro */
.intro{
    text-align: center;
}
.intro-a {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.intro-a-red {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    object-fit: contain;
    opacity: 0;
    transition: opacity .5s;
}
.intro-a:hover .intro-a-red {
    opacity: 1;
}
.more {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.more_color {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    object-fit: contain;
    opacity: 0;
    transition: opacity .5s;
}
.more:hover .more_color {
    opacity: 1;
}
#buffer_b_i {
    min-height: 12em;
}

/* scroller - personal work */
.gallery-personal {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1vw;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 6.5vw;
}

/* scroller - university work */
.gallery-university{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1vw;
    margin-left: 1em;
    text-align: left;
}

/* scroller - settings */
#worktypo {
    font-family: "Epilogue-Black";
    font-size: 3vw;
    padding-bottom: 1vw;
    padding-top: 3vw;
    letter-spacing: -0.01em;
}
.gallery-item {
    width: 25vw;
    position: relative;
}
.gallery-item img {
    width: 25vw ;
}
.cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .4s;
}
.gallery-item:hover .cover {
    opacity: 1;
}

/* sure - text */
.sure {
    text-align: center;
    margin: 18vw;
}
.sure a:link, .sure a:visited {
    color: #1E1E1E;
    text-decoration: none;
}
.selection a:hover {
    color: #FF002E;
    transition: all 0.2s ease-in-out;
}

/* about me - grid-lg */
.contact:link, .contact:visited {
         color: #1E1E1E;
         text-decoration: none;
     }
.contact:hover{
        color: #FF002E;
        transition: all 0.1s ease-in-out;
    }
.aimg {
        display: flex;
        gap: 3vw;
    }
.aimg img {
        width: 10vw;
    }

/* about me - grid-sm */
.contact-sm:link, .contact-sm:visited {
    color: #1E1E1E;
    text-decoration: none;
}
.contact-sm:hover{
    color: #FF002E;
    transition: all 0.2s ease-in-out;
}
.aimg-sm {
    text-align: center;
    gap: 3vw;
}

/* media queries - about me */
@media (min-width: 700px) {
    #aboutlg {
        display: block;
    }
    #aboutsm {
        display: none;
    }
}
@media (max-width: 700px) {
    #aboutlg {
        display: none;
    }
    #aboutsm {
        display: block;
    }
}

/* gallery */
.container {
    text-align: center;
    max-width: 1224px;
    width: 100%;
}
.gallery {
    text-align: center;
    display: flex;
    gap: 2vw;
}
.column {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.photo img {
    text-align: center;
    width: 25vw;
    height: 100%;
    object-fit: cover;
}

/* media queries - photo.gallery */
@media (min-width: 700px) {
    .gallery {
        flex-direction: row;
        margin: 3em;
        padding-left: 2.5vw;
    }
    #worktypo {
        width: 4vw;
    }
}
@media (max-width: 700px) {
    .gallery {
        flex-direction: row;
    }
    #worktypo {
         width: 4vw;
     }
}

/* arrows */
#buffer_t {
    min-height: 2em;
}
#buffer_b {
    min-height: 8em;
}

.pfeil {
    position: absolute;
    margin: -2em;
}
.pfeilred {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}
.pfeil:hover .pfeilred {
    opacity: 1;
    transform: scale(1.03,1.03);
}

.back {
    position: absolute;
    margin: -2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.backred {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}
.back:hover .backred {
    opacity: 1;
    transform: scale(1,1);
}

/* ===================== pic-click ===================== */

.mask {
    position: fixed; z-index:100;
    left:0; top: 0; width: 100%; height: 100%;
    background-color: rgba(10,10,10, 0.8)
}

.focus-pic {
    position: fixed; z-index:101;
    left:2vw; top: 10vh; width: 96vw; height: 96vh;
    display: flex;
    flex-direction: column;
}

.focus-pic picture, .focus-pic picture img {
    max-width: inherit;
    max-height: 90%;
    height: 90%;
    width: inherit;
    object-fit:contain;
}

.focus-pic-caption {
    font-size: large; font-weight: 600;
    color: white;
    text-align: center;
    margin-top: -2em;

}