---
title: "Index"
layout: "base.njk"
---
<div id="portfolio">
    <img src="/portfolio_3.gif" style="width: 95vw; margin-left: -3em; margin-bottom: -3em">
</div>
<div class="intro">
    <!--<a href="javascript:window.scrollBy%280%2Cwindow.innerHeight%2C%20%20%7Bbehavior%3A%20%22smooth%22%7D%29%3B"
    <img src="/introduction-1.svg" style="width: 6vw; margin-bottom: 6em; margin-top: -3em"></a>--!>
</div>

<div class="intro-a">
    <img src="/introduction-1.svg" width="100vw">
    <a href="javascript:window.scrollBy%280%2Cwindow.innerHeight%2C%20%20%7Bbehavior%3A%20%22smooth%22%7D%29%3B"><img src="/introduction-1-red.svg" class="intro-a-red" width="100vw"></a>
</div>
<div id="buffer_b_i" style="margin-bottom: 9em">&nbsp;</div>

<div class="intro">
    <img src="/introduction-2.svg" style="width: 40vw; margin-top: -2em; margin-bottom: -2em;">
    <div class="more">
        <img src="/introduction-4.png" style="width: 45vw; margin-top: 5em">
        <a href="/projects"><img src="/intro.gif" class="more_color" style="width: 45vw; margin-top: 5em"></a>
    </div>
    <div id="buffer_b_i">&nbsp;</div>
</div>


