---
title: "Matrix"
---
<style>
	@font-face {
		font-family: "BespokeSlab-Regular";
		src: url("/fonts/BespokeSlab-Regular.woff2") format("woff2"),
		url("/fonts/BespokeSlab-Regular.woff") format("woff"),
		url("/fonts/BespokeSlab-Regular.ttf") format("truetype");
		font-weight: 400;
		font-display: swap;
		font-style: normal;
	}
	body {
		font-family: "BespokeSlab-Regular";
		background-color: #FFF9EF;
		color: #1E1E1E;
		margin: 1vw;
	}
	.code a:link, .code a:visited {
		color: #FF002E;
	}
</style>
<div class="code">
	<p>
		<"path class="st0" d="M488.4,647H301.4l-3.2-56.5h-81.1L196.8,647H0l208.5-451.6h195.9L488.4,647L488.4,647z M327.9,619h126.8
				l-73.5-395.6H226.4L43.8,619h133.4l20.3-56.5h127.2L327.9,619L327.9,619z M315.9,494h-92.5l57.1-168.4H309L315.9,494L315.9,494z
				 M262.4,466h24.3l-2.6-64L262.4,466z"/>
			path class="st0" d="M676.3,657.8c-59.3,0-113-21.8-151.2-61.5c-39.8-41.4-60.4-99.4-57.9-163.3c2.7-68.7,30.1-131.6,77.4-177.2
				c47.2-45.5,110.9-70.6,179.4-70.6c39,0,76.3,6.7,113.9,20.6l10.4,3.8l-23,186.9l-19.7-16.2c-25.3-20.9-47.5-29.8-74.3-29.8
				c-43.3,0-81.3,36.9-83,80.5c-0.6,16,4.9,31,15.7,42.1c12.1,12.6,29.6,19.5,49.3,19.5c27.8,0,50.3-9.7,75.1-32.5l29.6-27.1
				l-32,202.3l-8.1,2.7C734.3,652.7,707.7,657.8,676.3,657.8L676.3,657.8z M724.1,213.3c-61.2,0-118,22.3-160,62.8
				c-42,40.5-66.5,96.7-68.8,158.1c-2.2,56.2,15.6,106.9,50.1,142.8c32.8,34.1,79.3,52.9,131,52.9c26.5,0,48.6-4,84.8-15.7
				l17.6-111.5c-20.5,12.3-41.5,18-65.3,18c-27.4,0-52-10-69.5-28.1c-16.1-16.7-24.4-38.9-23.5-62.6c1.1-28.2,13.3-55,34.4-75.6
				c21.2-20.6,48.4-31.9,76.6-31.9c26,0,49,6.8,72.2,21.6l14.2-115.6C786.9,218.3,756.1,213.3,724.1,213.3L724.1,213.3z"/>
			path class="st0" d="M1045.1,657.8c-64.4,0-119.2-16.9-158.7-48.8c-37-30-52.8-66.5-52.8-122c0-11.8,0.6-23,2-35.2l0-0.2l32-256.1
				h183.8l-30.5,250c-1.2,9.8-3.1,24.6-3.1,29.4c0,17.5,7.4,25.4,24.1,25.4c15,0,29-4,35.7-52.6l30.7-252.3h183.8l-30.5,250
				c-11.2,88.5-20.9,120.2-63.5,159.1l-0.1,0.1C1157.7,641,1109.1,657.9,1045.1,657.8L1045.1,657.8z M863.4,455
				c-1.2,11.1-1.8,21.3-1.8,32c0,46.8,12.3,75.8,42.5,100.3c34.4,27.9,83.2,42.6,141.1,42.6s99.2-14.6,134.1-45.9
				c18.7-17.1,28.4-30.4,35.7-49c7.6-19.4,12.9-45.4,18.9-92.9l26.7-218.6h-127.4l-27.7,228c-3.6,26.2-9.6,44.1-18.9,56.4
				c-10.5,13.8-25.1,20.5-44.5,20.5c-32.1,0-52.1-20.5-52.1-53.4c0-5.6,1.1-15,3.3-32.9l26.7-218.6H892.4L863.4,455L863.4,455z"/>
			path class="st0" d="M1683.4,647h-199.5l-35.9-85.3l-12.6,85.3h-181.6l55.5-451.6H1490c71.3,0,107.2,9.4,142.1,37.4l0.2,0.2
				c34.2,28.6,54.6,72,54.6,116.2c0,41.1-17.8,80-47.7,104.2c-16.9,13.5-29.3,19.9-49.8,24.4L1683.4,647L1683.4,647z M1502.5,619
				h133.3l-90.4-162.8l20.2-2.8c30.3-4.2,39.7-8.7,56.1-21.8c23.3-18.9,37.3-49.7,37.3-82.4c0-35.9-16.6-71.3-44.4-94.6
				c-29.5-23.6-59.8-31.1-124.5-31.1h-155.9l-48.6,395.6h125.8l23.6-160.6L1502.5,619L1502.5,619z M1464.6,413.3h-28.6l13-104.2h24.4
				c19.9,0,34.7,3.6,45.1,10.9c11.8,8.3,17.8,20.9,17.8,37.4s-7.6,31.8-21.3,41.8C1502.5,408.4,1485,413.3,1464.6,413.3L1464.6,413.3
				z M1473.8,337.1l-6,48.2c13-0.4,23.6-3.4,30.8-8.7c6.6-4.8,9.8-11.1,9.8-19.2S1508.4,337.2,1473.8,337.1L1473.8,337.1z"/>
			path class="st0" d="M1867.7,647h-174.9l39.6-324.6h174.9L1867.7,647z M1724.4,619h118.5l32.8-268.6h-118.5L1724.4,619L1724.4,619
				z"/>
			path class="st0" d="M1713.1,190.5c0.1-0.4,0.1-0.9,0.2-1.3c0.1-0.3,0.2-0.7,0.4-1c0.7-0.8,1.5-1.5,2.3-2.2
				c0.4-0.4,0.9-0.7,1.3-1.1c0.9-0.7,1.5-1.7,1.5-3.1c-0.3-0.3-0.7-0.8-1.1-0.9c-2.6-1-4.6-2.8-6.6-4.6c-0.2-0.2-0.4-0.4-0.6-0.5
				c-1.9-0.9-3.2-2.6-4.7-4.2c-0.7-0.8-1.5-1.6-2.2-2.4c-1-1.1-1.7-2.5-2.5-3.8c-0.3-0.5-0.6-1.2-1-1.6c-1.6-1.7-2.6-3.8-3.6-5.9
				c-0.9-1.9-1.7-3.9-2.4-5.9c-0.3-0.7-0.4-1.5-0.6-2.2c-0.3-1.4-0.6-2.8-1.1-4.1c-0.8-2.4-0.8-4.9-1-7.4c-0.2-1.4-0.2-2.9-0.2-4.3
				c0-1,0-2,0-3c0-1.1,0-2.2,0-3.2c-0.1-3.3,0.7-6.5,1.3-9.7c0.1-0.6,0.3-1.1,0.3-1.7c0.1-2,0.7-3.8,1.1-5.8c0.1-0.5,0.2-1,0.6-1.4
				c0.7-0.7,0.9-1.6,1.2-2.5c0.6-1.9,1.2-3.8,2.2-5.6c0.9-1.6,1.5-3.4,2-5.2c0.2-0.8,0.7-1.2,1.3-1.6l-0.1,0c1.1-1.6,2.3-3.1,3.4-4.7
				c1.1-1.6,2.2-3.2,3.5-4.6c0.7-0.6,1.1-1.5,1.7-2.2c1.7-2.1,3.7-3.8,5.7-5.7c2.4-2.3,5.3-4.1,7.8-6.4c0.2-0.2,0.5-0.3,0.7-0.4
				c3-1.6,6.1-2.8,9.2-4.2c1.8-0.8,3.6-1.8,5.1-3.2c0.4-0.3,0.7-0.7,1.1-1c0.5-0.5,1.1-0.9,1.2-1.9c-0.4,0-0.8-0.2-1.2,0
				c-0.5,0.2-1,0.5-1.5,0.8c-0.8,0.5-1.5,0.4-2.3-0.1l0,0.1c0.1-0.1,0.2-0.3,0.2-0.3c-0.2-0.7-0.3-1.3,0.5-2.1c-2.3,0.7-4.2,1.2-6,2
				c-1.2,0.5-2.4,1.4-3.5,2.2c-0.7,0.5-1.4,0.8-2.2,1c-1,0.3-2,0.9-2.8,1.7c-0.9,0.8-2.1,1.3-2.9,2.3c-0.8,1.1-1.9,1.9-2.8,2.9
				c-0.9,0.9-1.7,1.9-2.4,3c-0.5,0.7-1.3,0.7-1.9,1.1c0-0.1,0.1-0.2,0.1-0.2c0,0,0,0.1-0.1,0.2c-0.7,1.2-1.4,2.3-2.8,2.6
				c-0.6,0.2-0.9,0.8-1.3,1.4l0.1-0.1c-0.3,0.4-0.8,0.7-0.9,1.1c-0.2,0.8-0.7,1.2-1.2,1.7c-0.1,0.1-0.1,0.3-0.1,0.4
				c-0.1,0-0.3-0.1-0.4-0.1c0,0,0.1,0.1,0.1,0.1c0.1,0,0.2-0.1,0.3-0.1c-0.1,0.8-0.4,1.2-1.1,1.4c-0.6,0.2-1,0.5-1.3,1
				c-0.3,0.5-0.6,1-0.9,1.5c-0.7,1-1.3,2-0.3,2.9c-0.2,0.3-0.2,0.5-0.3,0.6c-1.1,0.5-1.5,1.3-1.7,2.5c-0.1,1-0.3,2-0.9,2.9
				c-0.2,0-0.5,0-0.8,0c-0.7,0.9-0.9,2.1-1.3,3.2c-0.4,1.1-0.7,2.2-1,3.4c-0.4-0.4-0.8-0.6-1.2-1c0.1-1.6,0.8-3,1.5-4.4
				c0.2-0.4,0.5-0.7,0.6-1.1c0.6-2.3,1.8-4.2,2.8-6.3c0.5-1.1,1-2.2,1.6-3.3c1.9-3.6,4-7,6.3-10.3c0.3-0.5,0.5-1,0.8-1.5
				c0.2-0.3,0.3-0.7,0.5-0.9c1-1.1,2-2.2,3-3.2c1.5-1.6,3-3.2,4.8-4.5c1.1-0.8,2-1.7,3.1-2.6c-0.1-0.4-0.2-0.7-0.3-1
				c0.1-0.1,0.1-0.3,0.2-0.3c2.6-1.9,5.2-3.8,8-5.2c1.6-0.8,3.2-1.3,4.7-2.1c1.6-0.8,3.3-1.4,4.9-2c2.7-1,5.4-1.5,8.1-1.7
				c2.7-0.2,5.5-0.3,8.2-0.2c2.8,0.1,5.7,0.4,8.4,1c2.7,0.6,5.5,1.3,8,2.6c2.4,1.3,5,2.3,7.5,3.4c0.5,0.2,1,0.4,1.6,0.2
				c0.5-0.5,0.5-1.2,0.6-1.8c0.7-3.3,1.3-6.7,2.2-10c0.6-2.2,1.3-4.5,2.2-6.6c0.8-2,1.9-3.9,3-5.7c0.4-0.7,1-1.2,1.5-1.8
				c1.7-2,3.4-4,5.1-6c1.6-2,3.6-3.6,5.4-5.4c1-1,2.1-1.9,3.2-2.8c1.6-1.4,3.4-2.7,5.3-3.8c0.4-0.2,0.7-0.4,1-0.7
				c1.1-1.2,2.4-1.9,3.8-2.6c2.8-1.5,5.6-3,8.4-4.4c3-1.5,6.1-2.3,9.3-3c1.6-0.4,3.2-0.8,4.8-0.9c2.9-0.3,5.9-0.4,8.8-0.6
				c1.1-0.1,2.3,0,3.4-0.1c2.4-0.2,4.7,0.2,7,0.4c2.4,0.3,4.8,0.5,7.2,0.8c0.6,0.1,1.2,0.1,1.8,0.3c3.3,0.9,6.6,1.9,9.8,2.9
				c1.7,0.5,3.2,1.3,4.8,1.9c3.2,1.3,6.3,2.9,9.3,4.8c1.3,0.8,2.8,1.4,4.1,2.2c2,1.2,4,2.5,5.7,4.2c1.3,1.2,2.7,2.3,4.1,3.4
				c2.4,1.9,4.3,4.1,6.2,6.6c0.9,1.2,1.8,2.3,2.7,3.4c2,2.3,3.5,5,5.1,7.6c2.6,4.2,4.3,8.8,6,13.5c1.3,3.6,2.1,7.4,2.9,11.2
				c0.5,2.3,0.7,4.7,1.2,7c0.4,1.7,0.4,3.6,0.5,5.4c0.1,1.3,0.1,2.6,0.2,3.9c0.1,3.2-0.3,6.4-0.5,9.6c-0.1,0.8,0,1.4,0.5,1.9
				c1.2,0.4,2.3,0.2,3.6,0c4.2-0.8,8.4-1.7,12.6-1.7c0.3,0,0.5-0.1,0.8-0.1c1-0.1,2-0.3,3-0.4c2.5,0,5,0,7.4,0c3.4,0,6.7,0.4,10,1.1
				c3.7,0.8,7.3,1.6,10.9,2.6c2.7,0.7,5.3,1.7,8,2.6c1,0.3,2,0.7,3,1.2c1.8,0.8,3.5,1.6,5.3,2.5c0.4,0.2,0.7,0.3,1.1,0.6
				c2.1,1.5,4.4,2.7,6.3,4.4c1.7,1.4,3.3,2.8,4.9,4.3c0.8,0.7,1.5,1.6,2.3,2.4c2.3,2.2,4.2,4.7,6.1,7.3c1.5,2.1,2.7,4.4,3.8,6.8
				c1.2,2.5,1.9,5.2,2.5,7.9c0.2,0.8,0.3,1.7,0.6,2.5c0.9,3.1,1.2,6.3,1.3,9.6c0.2,3,0.1,6.1-0.1,9.1c0,0.9-0.2,1.7-0.3,2.6
				c-0.8,4.2-2.3,8.2-4.1,12.1c-0.9,2-1.8,3.9-3.1,5.6c-0.7,2.3-2.5,3.8-3.6,5.8c-0.4,0.8-1.2,1.4-1.8,2.1c-2.1,2.4-4.3,4.7-7,6.4
				c-2.1,1.4-4.4,2.7-6.7,3.6c-0.8,0.3-1.5,0.7-2.2,1c-2.8,1.3-5.5,2.8-8.4,3.7c-2.5,0.8-4.9,1.8-7.3,2.7c-0.4,0.2-0.9,0.2-1.4,0.4
				c-1.5,0.4-2.9,1-4.2,2.1c-0.6,0.6-1.4,1-2.1,1.2c-0.9,0.2-1.6,0.8-2.5,0.9c-0.2,0.1-0.4,0.1-0.6,0.2c-1.3,1.3-3.1,1.9-4.6,2.8
				c-1,0.7-1.8,2.4-1.7,3.7c0.2,1.4,0.3,2.7,0.4,4.1c0.2,1.9,0.2,3.9,0.5,5.8c0.2,1.2,0.6,2.4,1.4,3.4c0.1,0.1,0.3,0.4,0.2,0.5
				c-0.4,0.6,0.1,1.1,0.1,1.6c0,3.2,0,6.4-0.4,9.5c-0.1,1-0.3,2-0.4,3c-0.5,4.3-1.4,8.5-2.2,12.7c-0.5,2.7-1.4,5.2-2.3,7.7
				c-0.8,2.4-1.9,4.7-3.1,6.9c-0.9,1.6-1.5,3.3-2.7,4.7c-0.9,1.1-1.8,2.4-2.7,3.6c-0.7,0.9-1.5,1.7-2.2,2.5c-0.1,0.2-0.3,0.3-0.5,0.4
				c-1.2,1.7-2.7,2.9-4.2,4.1c-1,0.8-1.8,1.8-2.8,2.5c-2.5,1.8-4.8,3.9-7.5,5.3c-2.1,1.1-4.2,2.2-6.2,3.2c-0.4,0.2-0.9,0.4-1.3,0.5
				c-1.6,0.6-3.2,1.3-4.8,1.9c-0.4,0.1-0.8,0.4-1.2,0.4c-1.2,0-2.4,0.6-3.5,1c-1.6,0.5-3.1,1-4.7,1.5c-0.4,0.1-0.9,0.3-1.4,0.4
				c-2.4,0.2-4.8,0.8-7.2,1.4c-1.5,0.4-3.1,0.5-4.6,0.5c-0.9,0-1.9,0.2-2.8,0.4c-1.7,0.4-3.3,0.9-5,0.8c-0.1,0-0.3,0-0.4,0
				c-3,0.6-6,0.5-9,0.3c-2.9-0.1-5.9-0.2-8.8-1.1c-1-0.3-2.1-0.5-3.1-0.7c-5.4-0.8-10.2-3.1-15.1-5.5c-2.8-1.4-5.5-3.1-8.1-4.9
				c-2.1-1.5-4.2-2.9-6.2-4.5c-0.7-0.5-1.2-1.2-2.3-1.2c-0.4,0-0.9-0.6-1.1-1.1c-0.5-0.9-1.2-1.5-1.9-2.2c-2.7-2.7-5.4-5.2-7.8-8.2
				c-0.4-0.5-1-1-1.4-1.5h0c-0.1-0.1-0.2-0.3-0.2-0.3c-0.6,0.1-1-0.1-1.1-0.8c-0.1-0.5-0.3-1.1-0.5-1.6c-0.2-0.4-0.5-0.6-0.8-0.9
				c-0.2-0.2-0.5-0.5-0.7-0.7c-0.2-0.3-0.2-0.8-0.4-1c-0.9-0.8-1.2-2-2-2.9c-0.6-0.7-1.1-0.7-1.7,0c-1.1,1.6-2.8,2.6-3.7,4.5
				c-0.1,0.2-0.2,0.4-0.4,0.5c-1.3,0.9-2.2,2.2-3.2,3.4c-0.1,0.2-0.2,0.4-0.4,0.5c-1.6,1-2.6,2.8-4.2,3.8c-0.3,0.2-0.5,0.5-0.8,0.7
				c-2.5,2.5-5.6,4.2-8.4,6.1c-3,2-6.3,3.1-9.2,5c-1.9,1.3-4,2.1-6.1,2.8c-1.3,0.4-2.5,1.1-3.8,1.5c-2.3,0.8-4.5,1.5-6.8,2.2
				c-1.5,0.5-3,0.8-4.5,1.2c-0.5,0.1-0.9,0.3-1.4,0.4c-1.4,0.4-2.7,0.8-4.1,0.9c-1.5,0-3.1,0.5-4.6,0.7c-0.8,0.1-1.6,0.2-2.4,0
				c-0.7-0.2-1.3,0-1.9,0.7c-0.4-0.3-0.9-0.5-1.4-0.9c-0.2,0.4-0.4,0.8-0.6,1.2c-1.2,0.1-2.3,0.3-3.6,0.1c-1.2-0.2-2.4,0.2-3.5-0.5
				c-0.1-0.1-0.4,0-0.6,0c-2.7,1.1-5.4,0.5-8.2,0.2c-1-0.1-2.1-0.4-3.1-0.6c0-0.5,0.3-0.5,0.6-0.5c1.6,0.1,3.2,0.3,4.8,0.5
				c-1.8-1.5-3.9-1-5.9-1.4c-0.2,0-0.5,0.2-0.7,0.4c-0.6,0.6-1.2,0.6-1.9,0.4c-1.3-0.4-2.6-0.7-3.9-1.1c-1.2-0.4-2.4-0.7-3.6-1.1
				c-0.9-0.3-1.7-0.7-2.6-1.1c-1.3-0.6-2.7-1.3-4-2c-0.1-0.1-0.2-0.1-0.4-0.2c-2.6-1.8-5.3-3.2-7.7-5.2c-0.6-0.5-1-1.3-1.6-1.9
				l0.1,0.1c-0.5-0.5-0.9-1-1.4-1.5c-0.7-0.8-1.5-1.4-2.1-2.2c-1.3-1.8-2.6-3.7-3.6-5.8c-0.4-0.9-0.8-1.8-1.6-2.4
				c0.1-0.6-0.1-1-0.4-1.5c0.2,0.7,0.3,1.1,0.5,1.5c-1.1-0.4-1.7-1.2-1.9-2.5c-0.2-0.9-0.5-1.8-0.8-2.6c-0.8-2.4-0.7-5-1.3-7.4
				c-0.1-0.4-0.1-0.9-0.1-1.3c0-2.4-0.1-4.8-0.1-7.1c0-0.4,0-0.9,0.1-1.3c0.7-3.5,0.9-7,1-10.6c0.1-5.9,1.5-11.6,3.5-17.2
				c1-2.9,2.3-5.6,3.6-8.4c1.1-2.3,2.2-4.7,3.5-7c0.4-0.7,0.7-1.4,1.1-2.1c1.9-2.7,3.8-5.4,5.6-8.1c0.9-1.3,2-2.2,3.2-3.1
				c1.1-0.8,2.1-1.5,2.8-2.8C1712.2,190.1,1712.7,190.1,1713.1,190.5c0.4,0.1,0.7,0.4,1.1,0c0.2-0.2,0.6-0.3,0.9-0.4
				c-0.1,1.9-1,3.1-2.6,3.7v0.1c0.3-0.4,0.7-0.7,0.5-1.3c-0.1-0.1-0.2-0.3-0.3-0.3c-0.8-0.1-1.6,0.2-2.1,1c-0.3,0.5-0.7,0.9-1,1.3
				c-1.4,1.5-2.8,3.1-4.1,4.6c-0.3,0.3-0.6,0.7-0.7,1.1c-0.1,0.4,0.1,0.8,0.1,1.3c-0.5,0.1-1.3-0.3-1.1,0.8c-1.1,1.6-2.2,3.3-3.4,4.9
				c-0.5,0.8-1.1,1.5-1.5,2.1c-0.1,1.9-0.1,3.5-1.8,4.4c-0.2,0.1-0.2,0.3-0.3,0.5c-0.2,0.5-0.5,1-0.7,1.5c0.1,0.5,0.3,0.9,0.4,1.2
				c-0.5,0.6-0.9,1.1-1.2,1.7c-0.9,2.2-1.7,4.4-2.3,6.8c-0.4,1.6-0.8,3.1-1.2,4.6c-0.2,0.9-0.3,1.7-0.2,2.6c1.2-1.2,1.4-3.1,2.4-4.4
				c0.2-0.3,0.3-0.8,0.4-1.2c0.2-0.6,0.4-1.1,0.6-1.6c0.3-0.9,0.6-1.8,0.9-2.7c0.5-1.8,0.9-3.6,1.4-5.5c0.3-1.1,0.6-1.5,1.4-2.1
				c-0.1,0.8-0.1,1.6-0.2,2.4c-0.1,0.8-0.3,1.5-0.5,2.4c0.2-0.1,0.4-0.2,0.5-0.4c0.4-0.6,0.6-1.3,1.1-1.9c1.3-1.8,2.2-3.9,3.8-5.4
				c0.5-0.5,0.9-1.3,1.3-1.9c0.4-0.6,0.8-1.1,1.3-1.7c0.9-1.1,1.8-2.1,2.7-3.3c0.9-1.2,1.7-2.5,2.7-3.6c1.6-1.6,3.3-3.1,5-4.6
				c2.1-1.8,4.4-3.1,6.7-4.6c2.4-1.5,5-2.6,7.6-3.5c0.1,0.4,0.2,0.7,0.4,1.1c0.4-0.6,0.6-1.1,0.9-1.5c0.4-0.4,0.9-0.6,1.5-1
				c-0.5-0.3-0.7-0.5-1-0.6c-1.1-0.3-2.4-0.1-3.3-1c-0.1-0.1-0.4-0.1-0.6-0.1c-1.1,0.3-2.1-0.1-3.1-0.6c-0.5-0.2-1-0.4-1.5-0.5
				c-0.9-0.2-1.9-0.1-2.7,0.5c-1.1,0.8-2.1,1.6-3.2,2.4c-0.9,0.6-1.5,1.5-2.6,1.7c0-0.1,0-0.1,0-0.2c0-0.1,0-0.2,0.1-0.3
				c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0.1-0.1,0.2-0.2,0.3C1714.4,189.3,1713.8,189.8,1713.1,190.5L1713.1,190.5z M1722.4,204.2
				c-1.2,0.1-1.8,0.9-2.6,2.4C1721.1,205.8,1721.8,205.1,1722.4,204.2c0.6-0.4,1.2-1,1.7-1.8C1723.3,203.1,1722.6,203.3,1722.4,204.2
				L1722.4,204.2z M1730.2,169.4c0.1,0,0.2,0,0.4,0C1730.4,169.4,1730.3,169.4,1730.2,169.4c-2.3-2.1-4.6-3.4-6.6-3.6
				c0.2,0.3,0.3,0.6,0.5,0.7c0.6,0.4,1.1,0.8,1.7,1C1727.2,168.2,1728.7,168.8,1730.2,169.4L1730.2,169.4z M1697.8,262.6
				c-0.4-1.4-0.7-2.8,0.2-3.9c-0.4-1.4-0.8-2.6-1.2-4c-0.7,2.4-0.3,4.6-0.2,6.8c0,0.7,0.1,1.4,0.9,1.9
				C1697.6,263.1,1697.7,262.8,1697.8,262.6c0.2,0.1,0.2,0.6,0.7,0.5C1698.5,262.6,1698.3,262.5,1697.8,262.6z M1698.3,134.6
				c0.3-0.2,0.6-0.5,0.9-0.7c-0.2-0.9-0.7-1.6-0.6-2.3c0.2-0.9-0.4-1.8-0.1-2.7c0.1-0.2,0-0.5-0.1-0.6c-0.1-0.2-0.4-0.4-0.6-0.4
				c-0.1,0-0.4,0.2-0.4,0.4c-0.1,0.6-0.2,1.1-0.2,1.7C1697.4,131.6,1697.8,133.1,1698.3,134.6l0.3,0.9l0,0c-0.4,0-0.9,0.1-1.4,0.1
				c0.1,0.8-0.1,1.7,0.2,2.2c0.6,0.8,1.1,1.5,0.6,2.6c-0.1,0.2,0.3,0.7,0.5,1.1c0.4-0.1,0.8-0.3,1.3-0.4c-0.3-0.6-0.5-1-0.7-1.4
				c-0.3-0.6-0.3-0.9,0.3-1.5c0.2-0.2,0.5-0.4,0.5-0.6c0-0.6,0-1.2-0.2-1.7C1699.4,135.3,1699.2,134.6,1698.3,134.6L1698.3,134.6z
				 M1716.7,155.4c0.5,0.4,0.9,0.8,1.4,1.2C1717.9,155.8,1717.5,155.3,1716.7,155.4c0.8-0.5,1-1.2,0.7-2.2c-0.1-0.2-0.1-0.4-0.2-0.6
				c-0.8-1.4-1.5-2.8-2.3-4.2c-0.2-0.3-0.5-0.7-1.1-0.3C1714,150.9,1714.9,153.4,1716.7,155.4L1716.7,155.4z M1721.7,280.4
				c-0.6-0.4-1.2-0.8-1.8-1.1c-0.2-0.1-0.5-0.1-1-0.1c0.3,0.5,0.4,0.7,0.6,0.8C1720.1,280.5,1720.9,280.6,1721.7,280.4
				c0.2,0.3,0.3,0.7,0.6,0.8c0.7,0.4,1.5,0.6,2.3,0.4c0.3-0.1,0.7-0.2,1,0c1.3,0.7,2.8,0.5,4.2,0.8c0.6,0.1,1.2,0.1,1.8-0.3
				c-0.6-0.9-1.5-0.5-2.2-1c-0.7-0.5-1.5-0.8-2.3-1.1c-0.7-0.3-1.4-0.8-2.2-0.5c-0.2,0.8-0.3,1-0.5,1.1c-0.7,0.1-1.4,0.2-2.1,0.3
				C1722,280.8,1721.8,280.5,1721.7,280.4L1721.7,280.4z M1704,265.7c0.2-0.2,0.2-0.5,0-0.7c-0.4-0.5-0.7-1.1-1-1.7
				c0.3,0.1,0.6,0.2,0.8,0.4c0.1,0.1,0.2,0.2,0.3,0.2c0,0,0.1,0,0.1-0.1c-0.2,0-0.3-0.1-0.4-0.1c0.8-1.6,0.6-3-0.4-4.3
				c-0.2-0.3-0.5-0.7-0.7-1c-0.2-0.4-0.3-0.9-0.1-1.4l-0.1,0c0.8,1.7,2.3,2.9,3,4.7c0,0,0.1,0,0.2,0c0.5-0.4,0.3-0.9,0.2-1.3
				c-0.4-4.7-0.9-9.5-0.6-14.3c0.1-1.7,0.2-3.5,0.6-5.2c0.6-3.1,1.2-6.1,1.9-9.1c0.3-1.4,0.8-2.8,1.3-4.3c0.3,0.9-0.5,1.6,0,2.3
				c0.2-0.1,0.3,0,0.4-0.1c0.3-0.4,0.6-0.8,0.9-1.2c0.7-1,0.9-2.3,1.9-3c0.8-0.6,1.3-1.5,1.6-2.5c0.2-0.5,0.4-0.9,0.7-1.3
				c0.3-0.5,0.6-1,0.9-1.5c0.4-0.9,0.6-2,1.1-2.8c0.6-0.8,1.3-1.5,1.9-2.3c2-2.8,4.1-5.5,6.2-8.2c0.5-0.6,1-1.2,1.4-1.9
				c0.1-0.1,0-0.2,0-0.4c-0.2,0.1-0.4,0.1-0.5,0.2c-1.5,1.3-3,2.8-4.8,3.8c-0.5,0.3-0.9,0.9-1.4,1.3c-2.5,2.8-4.4,5.9-6.6,9
				c-0.1,0.1-0.2,0.2-0.2,0.4c-0.6,1.8-1.3,3.5-1.9,5.3c-0.2,0.6-0.3,1.2-0.9,1.6c-0.4-0.8,0.2-1.5,0.3-2.4c-0.2,0.3-0.4,0.4-0.5,0.6
				c-1.6,3-3.4,5.8-4.5,9.1c-0.8,2.4-1.7,4.6-2.5,7c-0.3,1-0.7,2.1-0.7,3.2c0.1,1.7-0.3,3.3-0.7,4.9c-0.6,2-0.8,4-0.1,6
				c0.1,0.2,0,0.4-0.1,0.6c-0.2,0-0.4,0-0.6,0.1c0,0.4,0.1,0.9,0,1.3c-0.2,1.3,0.2,2.3,1,3.1c0.2,0.2,0.5,0.5,0.7,0.8
				c0.1,0.1,0.1,0.2,0.1,0.3c-0.6,0.2-0.7-0.9-1.4-0.6c0,0.8,0.5,1.3,0.9,1.8c0.4,0.5,0.8,1.1,1.2,1.7l-1.5-0.3
				c-0.6,0.6,0.1,1.1,0,1.6c-0.1,0.6-0.5,1.2-0.6,1.8c-0.1,0.4,0.2,0.8,0.5,1.1c1,1.5,2.5,2.1,3.9,3c0.1,0,0.2-0.1,0.4-0.2
				c-0.3-0.5-0.7-0.9-0.8-1.4C1704.6,267.8,1704.3,266.7,1704,265.7L1704,265.7L1704,265.7z M1825.6,8.6c-0.4,0.2-0.8,0.5-1.3,0.7
				c-3,1.3-5.9,2.9-8.6,5c-1.2,1-2.4,1.9-3.6,3c-1.6,1.5-3,3.2-4.7,4.6c-1.2,1-2,2.2-2.9,3.4c-0.1,0.2-0.4,0.4,0,0.7
				c0.2-0.2,0.5-0.5,0.7-0.7c2.3-2.2,4.5-4.4,7-6.4c1.9-1.5,3.8-3.1,5.7-4.6c0.7-0.6,1.4-1.1,2.2-1.6c1.6-1.1,3.3-2.1,4.9-3.1
				C1825.5,9.3,1825.6,9,1825.6,8.6c0.1,0.1,0.3,0.1,0.4,0.2c0,0,0,0,0-0.1C1825.9,8.7,1825.7,8.7,1825.6,8.6L1825.6,8.6z
				 M1762.3,274.8c-1.5,0.3-3.1,0.5-4.6,0.8c-1.6,0.3-3.1,0.8-4.8,0.5c-0.6-0.1-1.3,0.1-2,0.2c-1.2,0.2-2.4,0.4-3.6,0.6
				c-1.6,0.2-3.2,0.2-4.8,0.4c-1.6,0.2-3.1,0.1-4.6-0.3c-1-0.2-2-0.3-3-0.4c-0.3,0-0.6,0.2-1.2,0.5c2.2,0.7,4.1,0.7,6,0.8
				c0.8,0,1.6,0,2.3,0.5c1.2,0.8,2.4,1.5,4,1c0.1,0,0.3,0,0.4,0c1.1,0.4,2.2,0,3.4-0.1c2.2-0.3,4.3-1.3,6.5-1.8
				c1.9-0.4,3.6-1.3,5.3-2.1C1762,275.3,1762.2,275.1,1762.3,274.8c0.5-0.1,0.9-0.2,1.1-0.5c-0.2,0.1-0.4,0.1-0.6,0.2
				C1762.7,274.5,1762.5,274.7,1762.3,274.8L1762.3,274.8z M1699,152.5c0.2,0.2,0.4,0.4,0.5,0.6c1.2,2.7,2.5,5.3,3.7,8
				c-0.1,0.2-0.2,0.4-0.3,0.5c0.7,0.5,1.3,0.9,1.8,1.5c0.5,0.6,0.9,1.4,1.1,2.2c0.2,0.5,0,1.1,0,1.6c0.4,0,0.9-0.1,0.9,0
				c0.2,1,1.2,1.1,1.6,1.6c0,0.5,0,0.8,0.1,1.1c0.6,0.3,1.2,0.2,1.7,0.8c0.4,0.5,1,0.9,1.6,1.4c0.1-0.7,0.2-1.3,0.3-2
				c-1-0.2-1.8-0.6-2.5-1.5c-0.8-1-1.4-2.2-2.2-3.3c-1.7-2.3-2.8-4.9-3.5-7.8c-0.1-0.3-0.1-0.7-0.3-1c-1.2-1.9-1.6-4.2-2.1-6.4
				c-0.3-1.2-0.5-2.5-1-3.7c-0.1-0.3-0.3-0.6-0.4-0.9c-0.1-0.3-0.1-0.6-0.1-1c-0.4,0.2-0.8,0.4-1.2,0.6c-0.5-0.9-1.1-1.8-1.7-2.9
				c-0.1,0.6-0.2,0.9-0.2,1.1c0.2,1.3,0.5,2.6,0.5,3.8c-0.1,1.9,0.4,3.7,0.9,5.5c0.2,0.9,0.9,2.1,1.5,2.9
				C1699.5,154.2,1698.7,153.4,1699,152.5L1699,152.5L1699,152.5z M1741.2,185L1741.2,185c0.3,0.6,0.7,1.2,1.2,1.5
				c0.2,0,0.3,0.1,0.5,0.1c1.6-0.2,2.9,0.2,4,1.4c0.3,0.3,0.6,0.5,1,0.7c0.8,0.4,1.6,0.5,2.5-0.1c0.6-0.4,1.4-0.6,2.1-0.9
				c0.2-0.1,0.3-0.4,0.6-0.7c-1.5-0.2-2.6-0.6-3.6-1.6c-0.3-0.3-0.9-0.3-1.3-0.4c-1.7-0.3-3.4-0.6-5-1.4c-0.5-0.3-1-0.3-1.6,0
				c-0.3,0.2-0.6,0.2-0.9,0.4l0,0.1c0.5-0.7,1.2-1.1,1.9-1.4c0.8,0,1.3,0.9,2.2,0.6c0-0.2,0-0.4-0.1-0.4c-1.2-0.5-2.4-1-3.7-1.5
				c-0.3-0.1-0.7-0.1-0.9-0.4c-0.4-0.4-0.9-0.5-1.5-0.5c-1.4,0-2.8-0.2-3.9-1.2c-2.1,0.6-4.1,1.4-5.9,2.8c1.3,1.1,2.4,1.7,4.3,2
				c1.2,0.2,2.2,0.5,3.2,1.1c0.5,0.3,1,0.5,1.5,0.2c0.3-0.1,0.6-0.1,0.7,0.2c0.3,0.9,0.9,0.7,1.5,0.4
				C1740.4,185.7,1741.1,185.8,1741.2,185L1741.2,185z M1704.9,149c-0.1,0-0.2,0-0.2,0C1704.7,149,1704.8,149,1704.9,149
				c-0.6,1.4-0.5,2.7,0.4,3.8c1.2,1.4,2.4,2.6,3.6,3.9c0.6,0.6,1.3,1.3,2,1.7c1.3,0.8,2.2,2,3.4,2.9c0.2,0.2,0.4,0.5,0.7,0.9
				c-0.8,0.2-1.3,0-1.7-0.5c-0.7-0.7-1.5-1.4-2.2-2.1c-1.4-1.4-2.9-2.7-4.3-4.1c-0.1-0.1-0.3-0.2-0.4-0.2c-0.3,0.7,0.4,0.8,0.4,1.1
				c0.1,0.4-0.1,0.9-0.1,1.4c0.4,1,0.8,2,1.3,2.9c1.7,3.3,3.8,6.3,5.8,9.4c0.4,0.7,0.9,1.4,1.5,1.9c2.5,2.4,5.1,4.7,7.6,7
				c1.5-0.3,2.7-1.1,3.8-1.8c0.5-0.3,1.2-0.5,1.4-1.2c0.1,0.1,0.2,0.1,0.3,0.1c0,0,0.1-0.1,0.2-0.1c-0.1-0.1-0.2-0.2-0.2-0.2
				c-0.1,0-0.2,0.1-0.3,0.2c0.2-0.4,0.2-0.9-0.1-1.2c-0.8-0.6-1.3-1.5-2.3-2c-0.7-0.3-1.3-1-1.9-1.5c-0.7-0.7-1.2-1.6-1.9-2.1
				c-1.1-0.8-1.9-1.7-2.2-3.1c-0.1-0.3-0.4-0.6-0.7-0.7c-1.2-0.4-2-1.4-2.9-2.2c0.6-1.1,0.2-2.3-0.5-2.9c-1.5-1.1-2.5-2.8-4.3-3.3
				c-0.2-0.1-0.3-0.2-0.4-0.4c-0.7-1.3-1.8-2.1-2.7-3.1C1707,152.1,1705.7,150.8,1704.9,149L1704.9,149z M1702.8,141
				c-0.1,2.1-0.1,2,0.3,3.4c0.3,1,0.8,1.9,1.3,2.8c1.5,2.9,3.5,5.3,5.8,7.5c1.1,1,2.2,2,3.3,3c0.2,0.2,0.3,0.5,0.7,0.2
				c-0.2-0.3-0.5-0.7-0.6-1c-0.2-1-0.7-1.8-1.4-2.5c-0.3-0.3-0.4-0.7-0.7-1c-0.3-0.3-0.2-0.6-0.2-0.9c-0.1-1.1-0.2-2.3-0.5-3.4
				c-0.4-1.4-0.9-2.8-1.1-4.3c-0.2-1.4-0.7-2.7-0.9-4.2c-0.2-1.1-0.7-2.1-0.3-3.4c0.1-0.3-0.1-0.6-0.1-0.9c0-1.7-0.2-3.3,0-5
				c0.1-0.9,0.1-1.9,0-2.8c-0.2-1.2-0.2-2.4-0.1-3.7c0.1-1.4,0.2-2.9,0.3-4.3c0.2-1.6,0.3-3.2,0.7-4.7c0.3-1.7,0.8-3.4,1.3-5
				c0.4-1.4,0.8-2.8,1.3-4.2c0.5-1.5,1-3,1.6-4.5c0.7-1.5,1.5-2.9,1.7-4.6c0.1-0.6,0.6-1.1,0.6-2c-0.3,0.3-0.6,0.4-0.7,0.6
				c-0.7,0.8-1.3,1.7-1.9,2.6c-0.5,0.6-0.9,1.3-1.3,1.9c-1.5,2.2-2.4,4.8-3.4,7.2c-0.8,1.9-1.3,3.8-2.1,5.7c-1.1,2.6-1.3,5.4-2.4,7.9
				c-0.1,0.2-0.1,0.6-0.2,0.9c-0.2,0.9-0.4,1.8-0.5,2.8c-0.4,2.9-1,5.7-0.4,8.6c0.1,0.3,0.1,0.8-0.1,1c-0.4,0.6-0.2,1.1-0.1,1.6
				c0.2,0.5,0.3,1.1,0.5,1.6c-0.7,0.9,0.1,1.4,0.6,1.9C1703.3,140.4,1703,140.7,1702.8,141L1702.8,141L1702.8,141z M1753.2,178.9
				L1753.2,178.9c0.2-0.2,0.4-0.5,0.6-0.9c-1.8-0.6-3.4-1.2-5-1.8c-0.6,0.5-1.1,1.1-1.7,1.4c-0.6,0.4-1.4,0.6-2,0.9l-0.5,2.3
				c0.6,0.6,1.2,0.2,1.8,0.2l0-0.1c0.2,0.7,0.7,1,1.3,1.1c0.7,0.1,1.4,0.3,2.1,0.4c0.3-0.4,0.6-0.8,1-1.3c0.2,0.4,0.3,0.7,0.4,0.9
				c0.3,1,1,1.6,2,1.7c0.8,0.1,1.6,0.6,2.5,0.8c2.2,0.6,4.3,1.9,6.8,1.5c0.5-0.1,1,0.4,1.1,1c0.1,0.5,0.2,1,0.2,1.5
				c0.2,0.9-0.2,1.6-0.6,2.2c-0.4,0.6-0.8,0.7-1.4,0.4c-0.4-0.2-0.9-0.6-1.2-0.5c-0.5,0.1-0.7,0.1-1-0.2c-0.2-0.2-0.6-0.3-0.9-0.4
				c-0.9-0.2-1.8-0.5-2.7-0.7l0.2-0.9c-0.5,0.1-0.9,0-1.3,0.1c-1,0.6-2.2,0.7-3.3,0.9c-0.2,0-0.4,0.1-0.6,0.2
				c-0.3,0.1-0.7,0.2-0.6,0.8c1.3,0.9,2.8,1,4.3,1.3c0.5,0.1,0.9,0.1,1.4,0.2c0.6,0.1,1,0.6,1,1.2c0,0.6-0.3,0.9-0.8,1.2
				c-1,0.6-2.1,1-3.3,0.9c-1.3-0.1-2.5-0.3-3.8,0.3c-0.2,0.1-0.6,0.1-0.8,0c-2.2-0.6-4.4-0.1-6.6,0.5c-1.9,0.6-3.9,1.1-5.8,2
				c-2.4,1.2-4.6,2.8-6.7,4.6c-1.5,1.3-2.7,2.9-4,4.4c-2.3,2.5-4.1,5.5-6.1,8.3c-0.6,0.9-1.2,1.8-1.8,2.7c-0.1,0.2-0.3,0.4-0.3,0.6
				c0,1-0.6,1.7-1.2,2.4c-0.3,0.4-0.4,1.1-0.6,1.6c-0.1,0.3-0.2,0.7-0.3,1c-1.2,2.6-2.2,5.3-3.4,7.9c-0.5,1-0.8,2.2-1.1,3.3
				c-0.7,2.5-1.4,5-2,7.6c-0.7,3.6-1.1,7.3,0.1,10.9c0.3,1,0.3,2.1,0.6,3.2c0.8,3.2,2.2,6.1,4,8.8c0.9,1.2,1.6,2.7,2.8,3.5
				c0.9,0.6,1.8,1.2,2.7,1.8c0.6,0.4,1.3,0.6,2,1c0.6,0.3,1.4-0.2,1.7,0.7c0,0.1,0.3,0.1,0.4,0c0.6-0.7,1.2-0.4,1.9-0.2
				c2.3,0.6,4.7,1.2,7,1.9c0.1,0,0.2,0.1,0.3,0.2c-0.4,0.1-0.7,0.1-1.3,0.2c0.8,0.6,1.5,0.4,2.1,0.5c0.7,0,1.3,0,2,0.1
				c0.7,0.1,1.4,0.2,2.2,0.3c0.6,0,1.2,0,2.3,0c-0.8-0.3-1.2-0.5-1.8-0.8c1.3-0.6,2.5-0.7,3.4-0.2c0.8,0.5,1.5,0.5,2.3,0.3
				c1.1-0.2,2.2-0.6,3.4-0.7c2.3-0.2,4.6-0.3,6.8-0.4c0.5,0,0.9-0.1,1.4-0.3c1-0.5,2.1-0.6,3.2-0.8c0.9-0.1,1.8-0.2,2.5-0.6
				c1.1-0.6,2.2-1,3.5-0.9c0.6,0,1.2-0.2,1.7-0.5c0.4-0.2,0.9-0.3,1-0.9c-0.5-0.4-1,0.6-1.5-0.1c1.1-0.5,2.1-1.2,3.2-1.3
				c0.3,0,0.5-0.1,0.8-0.3c0.9-0.6,1.7-1.1,2.8-1c0.2,0,0.4-0.1,0.5-0.3c0.3-0.4,0.7-0.7,1.2-0.7c0.2,0,0.5-0.2,0.7-0.4
				c1.1-1.1,2.2-2.2,3.2-3.4c0.3-0.3,0.6-0.6,0.9-0.9c1.2-0.9,2.3-1.8,3.5-2.7c1.8-1.5,3.9-2.7,5.5-4.5c0.3-0.3,0.7-0.5,1-0.8
				c1.6-1.4,3.1-2.8,4.3-4.6c0.8-1.1,1.6-2.2,2.6-3.1c0.6-0.5,1.2-1.2,1.6-2c1.4-2.5,3.6-4.2,5.1-6.6c0.1-0.2,0.3-0.3,0.4-0.4
				c0.8-1.1,1.7-2.2,2.2-3.4c0.5-1.1,1.2-2.1,1.8-3.2c0.2-0.4,0.7-0.3,0.9,0.2c0.1,0.2,0.1,0.4,0.2,0.7c1.3-1.2,1.8-2.9,2.7-4.4
				c1.1-1.9,1.7-4.1,3-6c0.3-0.4,0.4-0.9,0.3-1.4c-0.1-0.4-0.1-0.7-0.1-1c0.5-0.8,1.2-0.8,1.8-1c0,0.1-0.1,0.3-0.1,0.4
				c0-0.1,0.1-0.3,0.1-0.4c0.4-0.5,0.8-1,0.7-1.8c-0.1-0.8,0.2-1.4,0.6-2c0.1-0.1,0.2-0.1,0.3-0.2c0.5,0.1,0.5,1.1,1.3,0.8
				c0.5-0.5,0.3-1.2,0.4-1.8c0.3-1.4,1.3-2.3,2.7-2.2c1.1,0.1,2.3,0.2,3,1.3c0.1,0.2,0.3,0.4,0.4,0.4c0.9-0.1,1.4,0.7,1.9,1.1
				c1,0.1,1.9,0.1,2.8,0.3c1.1,0.3,2.2,0.7,3.2,1.2c3.5,1.6,5.7,4.3,5.8,8.6c0,1.1-0.2,2.3-0.3,3.4c-0.1,0.6-0.1,1.3-0.2,1.9
				c-0.2,1.4,0.1,2.8-0.5,4.1c-0.1,0.2,0,0.6,0,0.9c0.1,0.7,0,1.4-0.2,2.1c-0.2,0.7-0.3,1.4-0.2,2.1c0.2,1.9,0.3,3.9,0.7,5.8
				c0.6,3.5,1.7,6.8,3.3,9.9c1,1.9,2.2,3.6,3.5,5.2c1.5,2,3.1,3.9,5.2,5.2c1.8,1.2,3.6,2.3,5.1,4c0.2,0.2,0.4,0.4,0.7,0.5
				c1.5,0.7,2.9,1.8,4.5,2.2c0.6,0.1,1.1,0.5,1.6,0.8c0.7,0.3,1.3,0.7,2,0.9c1.8,0.4,3.6,0.9,5.5,1.1c1.7,0.2,3.5,0.3,5.2,0.4
				c0.7,0,1.3,0.1,2,0.1c2.8,0,5.5,0.1,8.2,0.1c0.8,0,1.6-0.1,2.4-0.1c2.1-0.2,4.3-0.7,6.4-0.6c3.1,0.1,6-0.8,8.9-1.6
				c2.4-0.7,4.8-1.4,7-3c0.4-0.3,0.9-0.4,1.3-0.6c2.3-1,4.6-2.1,6.8-3.5c2.5-1.6,5-3.2,7.2-5.4c0.6-0.6,1.3-1,1.9-1.7
				c1.5-1.8,2.8-3.8,3.9-5.9c0.4-0.8,0.9-1.7,1.1-2.6c0.2-1,0.7-1.8,1.2-2.5c0.9-1.3,1.3-2.7,1.6-4.2c0.2-1.5,0.4-3,0.6-4.5
				c0.6-3.8,0.4-7.5-0.1-11.2c-0.3-2.6-1-5.2-1.5-7.8c-0.1-0.5-0.4-0.9-0.4-1.4c-0.2-2.2-1.3-3.9-2.6-5.4c-0.3-0.3-0.5-0.6-0.8-1
				c-1.2-1.8-2.3-3.7-3.8-5.2c-1.5-1.6-2.4-3.7-3.8-5.4c-0.1-0.1-0.2-0.4-0.2-0.6c-0.2-1.1-0.4-2.3-0.5-3.4c-0.1-0.6-0.2-1.4,0-1.9
				c0.5-1,0.4-2.1,0.7-3.1c0.2-0.7,0.2-1.5-0.2-2.1c-0.5-1-0.5-2.1-0.4-3.1c0-0.8,0-1.6,0-2.4c0-1.9-0.2-3.9,1.3-5.5
				c0.7-0.7,0.4-1.6,0.8-2.4c1.2-0.6,2.3-1,3.3-1.7c1.8-1.3,3.7-2.1,5.7-2.7c1.2-0.3,2.3-0.7,3.6-0.3c0.5,0.1,1.2,0.2,1.6-0.1
				c0.9-0.6,1.8-0.5,2.7-0.7c1.3-0.2,2.7-0.4,4-0.6c0.5-0.1,0.9,0,1.3,0.3c0.2,0.1,0.5,0.3,0.7,0.2c1.9-0.9,3.6,0.1,5.2,0.6
				c0.4,0.1,0.8,0.5,1.3,0.5c2,0.2,3.7,1.1,5.3,2.1c1.2,0.8,2.5,1,3.8,0.7c1.2-0.3,2.4-0.7,3.5-1.1c1-0.4,2-0.8,3.1-1.1
				c0.8-0.2,1.7-0.8,2.3-1.4c0.6-0.6,1.2-0.9,1.9-1.2c1-0.4,2-0.8,3-1.3c2.5-1.3,5-2.6,7.3-4.3c1.4-1,2.9-1.9,4-3.4
				c1.2-1.5,2.1-3.2,3.2-4.9c0.8-1.2,1.1-2.7,1.7-4c1.1-2.4,0.3-4.9,0.4-7.3c-0.7-2.5-1.3-4.9-2.2-7.3c-0.2-0.5-0.4-0.9-0.7-1.3
				c-0.7-1.1-1.3-2.1-2-3.2c-0.2-0.4-0.5-0.7-0.8-0.9c-1.3-0.9-2.3-2.1-3.4-3.3c-0.5-0.6-1.1-1.2-1.7-1.4c-1.3-0.5-2.3-1.4-3.4-2.2
				c-1-0.7-2-1.4-3.2-1.7c-3-0.8-5.8-2.3-9-2.6c-0.5-0.1-1.1-0.2-1.6-0.3c-1.4-0.2-2.9-0.3-4.4-0.6c-1.5-0.3-3-0.7-4.5-0.9
				c-1.5-0.2-3.1,0.2-4.6-0.3c-0.6-0.2-1.3,0.2-1.9,0.3c-0.5,0.1-0.9,0.4-1.4,0.4c-1.6,0-3.2,0.8-4.8,0.6c-0.3,0-0.7,0.1-1,0.3
				c-1.1,0.5-2.3,0.8-3.5,1c-0.5,0.1-0.9,0.3-1.4,0.4c-0.7,0.3-1.4,0.6-2.1,0.8c-1.6,0.6-3.2,1.1-4.8,1.8c-3,1.3-6.1,2.5-8.9,4.1
				c-0.6,0.3-1.3,0.5-1.9,0.8c-1.2,0.8-2.6,1.1-4,1.4c-2.8,0.5-5.6,0.8-8.4,0.5c-1.1-0.1-2.4-0.2-3.4-1c-0.3-0.2-0.7-0.3-1.1-0.4
				c-0.9-0.2-1.6-0.7-2.3-1.3c-1.7-1.4-3-3.1-4.2-5.1c-0.4-0.7-0.6-1.4-0.7-2.2c-0.1-0.9,0.1-1.9-0.1-2.8c-0.3-1.8,0.5-3.4,0.8-5.1
				c1.1-1.4,1.1-3.2,1.2-4.8c0.1-1.4,0.2-2.7,0.8-4.1c0.4-1,0.8-2,1.1-3c0.5-1.4,1-2.7,1.3-4.1c0.5-2.6,1.2-5.1,1.9-7.6
				c1-3.4,1.5-6.8,1.2-10.3c-0.1-0.9-0.1-1.7-0.1-2.6c0.3-0.2,0.6-0.4,0.8-0.6c0-1.1-0.1-2.2-0.2-3.3c0-0.2-0.3-0.3-0.5-0.5
				c0.2-0.3,0.4-0.5,0.6-0.8c0.3-0.4,0.2-0.7-0.2-0.9c0.2-0.6,0.4-1.2,0.2-1.9c-0.2-0.5-0.3-1-0.3-1.5c0.3-2.2-0.5-4.1-1-6.1
				c-0.6-2.1-1.5-4.1-2.3-6.2c-0.5-1.3-1.2-2.5-1.6-3.9c-0.4-1.3-1-2.5-1.9-3.5c-0.4-0.5-0.9-0.9-0.9-1.6c0-0.1,0-0.2,0-0.2
				c0.2-0.2,0.4-0.3,0.2-0.7c0,0-0.1,0-0.2,0c0,0.2-0.1,0.4-0.1,0.5c0,0.1,0.1,0.3,0.1,0.4c-1.3-1.1-2.6-2.2-3.9-3.3
				c-0.1-0.1-0.1-0.4-0.1-0.6l-0.1,0.1c0.4,0,0.9,0,1.4-0.1c0.5,0,1-0.1,1.6-0.2c-0.3-0.5-0.5-1-0.8-1.4c-0.7-0.9-1.5-1.6-2-2.6
				c-2.1-3.6-5-6.4-7.7-9.4c-1.5-1.7-3.5-2.8-5.2-4.2c-0.4-0.3-0.9-0.6-1.4-0.7c-2.9-0.9-5.9-1.8-8.8-2.6c-1-0.3-1.9-0.5-2.9-0.7
				c-3.8-0.5-7.6-1-11.4-1.1c-0.7,0-1.5-0.1-2,0.2c-0.9,0.7-1.8,0.6-2.7,0.7c-0.3,0-0.7,0-0.7,0.6c0.2,0.1,0.3,0.3,0.5,0.2
				c1.8-0.2,3.3,1,5.1,1.1c1.5,0.9,3.2,1,4.8,1.3c5,0.9,9.8,2.5,14.6,4.5c2.4,1,4.8,2.1,7,3.6c1.7,1.1,3.3,2.3,5,3.5
				c0.6,0.4,1.1,1,2,1.7c-0.7-0.1-0.9,0-1.1-0.1c-0.6-0.4-1.1-0.8-1.6-1.2c-0.7-0.6-1.3-1.2-2.3-1c-0.3,0.1-0.8-0.2-1.1-0.5
				c-0.9-0.6-1.8-1.2-2.7-1.8c-3.7-2.4-7.1-3.9-11.5-5.3c-1.2-0.4-2.6-0.7-3.6-1.6c-0.4-0.4-1-0.4-1.5-0.6c-0.7-0.2-1.4-0.3-2.1-0.5
				c-4-1.5-8.2-1.4-12.3-1.4c-1.9,0-3.9,0.2-5.8,0.6c-1.9,0.4-4,0.5-5.7,2.1c-0.2,0.2-0.5,0.2-0.8,0.3c-2.9,0.7-5.6,2.2-8.4,3.4
				c-2.6,1.1-4.7,2.9-6.9,4.6c-2.4,1.9-4.8,3.8-6.9,6.2c-0.9,1-1.8,2-2.6,3.1c-0.8,1-1.9,1.9-2.1,3.4c0,0.2-0.3,0.3-0.4,0.5
				c-1.8,2.8-3.5,5.7-4.7,9c-1.1,3.3-1.8,6.6-2.2,10c-0.1,1.1-0.2,2.2-0.2,3.2c-0.1,1,0,2-0.1,3c-0.1,2.4-0.1,4.8,0.6,7.1
				c0.1,0.3,0.1,0.7,0.1,1c0.1,2.1-0.3,4.2-0.6,6.2c-0.2,1.3-0.7,2.7-1,4c-1.1,1.1-1.7,2.7-2.4,4c-0.4,0.7-0.9,1.2-1.7,1.4
				c-0.6,0.2-1.3,0.5-1.8,0.9c-0.7,0.5-1.4,0.5-2.1,0.2c-0.5-0.2-1.1-0.4-1.7-0.7c-0.3,0.3-0.6,0.6-0.8,0.8c-0.7,1.3-1.8,1.7-3,2.1
				c-0.6,0.2-1.1,0.1-1.6-0.2c-0.3-0.2-0.7-0.5-1-0.7c-0.9-0.5-1.8-1.2-2.9-1.1c-0.9,0-1.8-0.4-2.5-1.2c-0.4-0.5-0.8-0.9-1.2-1.4
				c-0.3-0.4-0.7-0.8-1.3-0.9c-1.2-0.2-1.8-1-2.2-2.2c-0.3-1.2-0.8-2.3-1.4-3.4c-0.8-1.4-2-2.4-2.9-3.8c-2.9-2.3-5.7-4.8-9.1-6.4
				c-2.1-1-4.2-1.9-6.4-2.3c-2.5-0.4-5-0.6-7.6-0.2c-2.4,0.3-4.6,0.9-6.8,2.2c-2.4,1.4-4.9,2.5-7.1,4.2c-2.3,1.7-4.6,3.4-6.4,5.7
				c-1.1,1.3-2.2,2.7-3.2,4c-0.8,1.1-1.7,2.1-2.5,3.2c-0.3,0.4-0.7,0.8-0.8,1.3c-0.1,1.2-0.9,1.9-1.5,2.8c-0.6,0.9-1.1,1.8-1.5,2.8
				c-0.3,1-0.4,2-0.7,2.9c-1,2.8-2,5.6-3.1,8.3c-0.4,1.1-0.8,2.2-1,3.3c-0.4,2.9-0.7,5.8-1,8.6c0,0.1,0,0.3,0,0.4
				c0,1.3,0.1,2.6,0.1,3.9c0,1.1,0.2,2.3-0.5,3.4c-0.4,0.6-0.3,1.4,0.3,2c0.9,0.9,1.1,2.1,1.3,3.3c0.1,0.9,0.4,1.8,0.7,2.7
				c0.4,1.4,0.8,2.7,1.4,4c0.8,2,1.5,4.1,2.8,5.9c1.7,2.4,3.4,4.9,5.1,7.4c1.7,2.3,3.4,4.6,6.1,5.6c0.2,0.1,0.4,0.2,0.5,0.3
				c2.7,1.8,5.5,3,8.5,4.2c1,0.4,2.1,0.6,3.1,0.9c3.5,1.1,5.3,1.5,8.6,1.7c2.2,0.1,3.8,1.1,4.8,3.1c0.4,0.8,1,1.3,1.8,1.6
				c0.4,0.1,0.9,0.3,1.2,0.7c0.4,0.4,0.7,0.5,1.2,0.4c0.8-0.3,1.3,0.1,1.6,0.8c0.1,0.2,0.3,0.4,0.5,0.7c2.6,0.1,5,0.5,5.8,3.6
				c-0.3,1-0.6,1.8-0.9,2.6c-0.2,0.5-0.6,0.6-1,0.6c-0.4-0.1-0.7-0.2-1-0.6c-0.3-0.4-0.7-0.7-1.1-0.9c-2.1-0.8-4.1-1.6-6.2-2.3
				c-0.2-0.1-0.5,0-0.6-0.2C1755.1,178.6,1754.1,178.9,1753.2,178.9L1753.2,178.9z M1781.6,269.2c1.4-0.3,2.3-0.6,3.2-1.7
				c1.4-1.5,3-2.7,4-4.6c0.1-0.2,0.4-0.4,0.6-0.6c1.6-1.6,2.8-3.6,4.2-5.4c0.2-0.2,0.1-0.7,0.1-1c0-0.4-0.5-0.6-0.8-0.3
				c-0.2,0.2-0.4,0.4-0.6,0.6c-2,2.2-4.1,4.3-6.5,6c-1.3,1-2.4,2.1-3.7,3.1c-0.3,0.3-0.7,0.5-1,0.7c-1,0.5-1.9,1.1-2.6,2
				c-0.1,0.2-0.2,0.4-0.4,0.5c-1.7,1.1-3.4,2.2-5,3.4c-0.5,0.4-1,0.8-1.4,1.2c-1.4,1.2-2.7,2.5-4.5,2.8c-0.2,0-0.6,0.2-0.7,0.4
				c-0.6,1-1.4,1.2-2.4,1.3c-0.1,0-0.3,0-0.4,0.1c-0.2,0.2-0.3,0.5-0.3,0.7c0,0.3,0.3,0.4,0.6,0.3c1.2-0.4,2.3-0.9,3.5-1.1
				c2.1-0.3,4-1.3,5.9-2.2c1.1-0.6,2.1-1.6,3.2-2.4c0.5-0.4,0.1-1,0.7-1.4c1.8-1.4,3.4-2.9,5.4-4c0.2-0.1,0.5-0.4,0.7,0
				C1783,268.4,1781.9,268.3,1781.6,269.2L1781.6,269.2z M1740.1,192.3c-0.6-0.2-0.9-0.5-1.3-0.4c-1.9,0.2-3.8,0.3-5.5,1.2
				c-2,1-4,1.9-6,2.8c-1.1,0.5-2.1,1.1-3.1,1.8c-1,0.7-2.1,1.3-3.2,1.9c-0.3,0.2-0.7,0.3-0.8,0.6c-0.6,0.9-1.5,1.3-2.2,1.9
				c-1.5,1.1-2.8,2.6-4.2,3.9c-2,1.8-3.4,4.2-5.2,6.2c-0.1,0.1-0.2,0.4-0.3,0.6c-0.4,1.2-0.7,2.3-1.1,3.5c-0.1,0.3-0.1,0.7,0.4,0.9
				c1.1-1.1,2.1-2.2,3-3.5c0.6-0.9,1.3-1.7,2-2.5c0.9-1,1.8-2,2.8-2.9c1.7-1.6,2.8-3.8,4.9-4.8c0.1,0,0.1-0.1,0.1-0.2
				c0.8-0.7,1.5-1.4,2.4-2.1c1-0.8,2-1.6,3.1-2.1c1.4-0.7,2.7-1.4,3.9-2.3c0.4-0.3,0.9-0.3,1.3-0.5c0.4-0.1,0.9-0.3,1.3-0.5
				c2.3-1,4.6-2.1,7-2.9C1739.7,192.8,1739.8,192.7,1740.1,192.3L1740.1,192.3z M1813.6,20.8c2.1,0.3,2.8-1.7,3.9-2
				c0.9,0,1.4,0.2,1.9,0c1.7-0.5,3.4-1.1,4.9-2.2c0.4-0.3,0.8-0.5,1.3-0.7c1.2-0.5,2.3-1.2,3.4-2c0.4-0.3,0.8-0.5,1.2-0.8
				c1.7-1,3.3-1.9,5.2-2.9c-1.3-1.1-2.6-1.7-4.1-1c-2.4,1.1-4.7,2.2-7.1,3.4c-0.3,0.1-0.6,0.4-0.9,0.5c-1.2,0.3-2.1,1.3-3.1,2
				c-1.4,1-2.8,2.2-4.3,3C1814.8,18.7,1814.1,19.5,1813.6,20.8L1813.6,20.8z M1708.2,274.9c-0.3-0.5-0.4-0.9-0.7-1.2
				c-0.2-0.3-0.4-0.7-0.7-0.8c-1.6-0.5-2.7-1.9-4.3-2.6c0.2,0.5,0.4,1,0.4,1.4c0,1.5,0.5,2.6,1.5,3.5c-0.1,2.2,0.8,4.1,2.5,5.3
				c0.4-0.4,0.7-0.8,1.1-1.1c0.4-0.3,1-0.3,1.4-1c-0.8-0.5-1.6-0.9-2.3-1.4c1.4-0.1,2.8,0,4,0.8c1.5-0.1,2.3,1.6,3.9,1.7
				c0-0.2,0-0.3,0-0.3c-1.2-1.4-2.4-2.8-3.6-4.2C1710.5,274.1,1709.7,274.1,1708.2,274.9L1708.2,274.9z M1703.7,232.1
				c0.1-0.6,0.2-1.2,0.3-1.9c0.1-0.8,0.9-1.1,1.2-1.7c0.2-0.6,0.7-1.1,1-1.6c0.3-0.4,0.5-0.9,0.2-1.4c-0.4-0.8,0.1-1.6,0.6-1.9
				c0.7-0.5,1-1.4,1.5-2c1.4-1.8,2.9-3.5,4-5.6c0.3-0.6,0.9-1.1,1.3-1.7c1.3-1.8,2.6-3.6,3.8-5.4c0.1-0.2,0.2-0.5,0.3-0.9
				c-1,0.2-1.6,0.8-2.1,1.4c-1.7,1.8-3.2,3.7-4.8,5.7c-0.5,0.6-1.1,1.1-1.1,2c0,0.5-0.4,0.7-0.8,0.9c-0.9,0.8-1.8,1.6-1.8,3
				c0,0.3-0.2,0.7-0.4,0.9c-1.5,1.2-2.1,3.2-3.2,4.7c-0.4,0.6-0.7,1.4-0.4,2c0.2,0.5,0.1,0.9-0.1,1.4c-0.2,0.4-0.2,0.8-0.2,1.3
				C1702.7,232,1703.1,232.2,1703.7,232.1L1703.7,232.1z M1706.7,94.7c-0.6,1.3-1.2,2.2-2.1,2.9c-0.1,0.1-0.1,0.2-0.2,0.4
				c-0.6,1.2-1.2,2.4-1.9,3.6c-0.7,1.1-1,2.4-1.5,3.6c-0.6,1.5-1.1,2.9-1.7,4.4c-0.7,1.8-1,3.8-1.2,5.7c0,0.1,0.1,0.3,0.2,0.5
				c0.4-0.8,0.6-1.5,1-2.2c0.3-0.6,0.8-1,1.2-1.5c0.8-1,1.3-2,1.7-3.2c0.2-0.5,0.1-0.9-0.2-1.4c-0.4-0.7-0.2-1.2,0.5-1.4
				c0.5-0.1,0.9-0.3,1.1-0.8c0.3-0.7,0.6-1.3,0.9-2c0.4-0.9,0.8-1.9,1.5-2.6c1.3-1.3,1.7-3,2.2-4.8
				C1707.6,95.6,1707.3,95.3,1706.7,94.7L1706.7,94.7z M1706.1,216.4c-0.8,0.2-1.2,0.7-1.5,1.3c-0.3,0.5-0.6,1-0.9,1.5
				c-1.9,3.1-3.7,6.2-4.5,9.8c-0.1,0.4-0.2,0.9-0.5,1.2c-1.5,1.3-2,3.1-2.4,4.9c-0.1,0.6-0.3,1.1-0.5,1.7c-0.6,1.5-0.7,3.1-0.6,4.6
				c0.2-0.4,0.4-0.7,0.5-1.1c0.4-1.9,2-3.3,2-5.4c0-0.2,0.3-0.5,0.4-0.7c0.4-0.6,0.8-1.2,1.1-1.9c1.5-3,2.9-6,4.4-8.9
				c0.6-1.3,1-2.7,2.2-3.6c0.3-0.2,0.5-0.7,0.7-1.1c0.1-0.2,0.1-0.5,0.1-0.6c-0.1-0.2-0.4-0.3-0.5-0.6
				C1706.1,217.1,1706.1,216.8,1706.1,216.4L1706.1,216.4z M1854.5,16.3c0.8,1,1.7,1.4,2.7,1.3c0.5,0,0.9,0.1,1.4,0.1
				c0.7,0.1,1.3,0.2,2,0.3c1.5,0.2,3.1,0.3,4.6,0.5c0.7,0.1,1.3,0.2,2,0.4c2.8,0.9,5.6,1.8,8.4,2.6c0.3,0.1,0.6,0.1,0.9,0.1
				c-0.5-0.8-1.1-1.2-1.8-1.7c-0.3-0.2-0.6-0.4-0.8-0.5c-1.4-0.9-3-1.4-4.3-2.5c-0.6-0.5-1.5-0.7-2.3-0.4c-0.6,0.2-1,0.1-1.6,0
				c-0.8-0.1-1.6-0.1-2.4-0.1c-0.5,0-1.1,0.1-1.6,0.1c-2.1-0.1-4.1-0.3-6.2-0.4C1855.2,15.9,1854.9,16.1,1854.5,16.3L1854.5,16.3z
				 M1853.3,288.7c-0.2-0.3-0.4-0.7-0.6-1c-0.8-0.9-1.6-1.7-2.3-2.7c-0.9-1.3-2-2.2-3.2-3.2c-1.9-1.5-3.6-3.3-5.6-4.7
				c-1.3-0.9-2.5-2-3.8-3c-0.2-0.1-0.4-0.1-0.7-0.2c0,0.2,0,0.4,0.1,0.5c1.6,2.3,3.5,4.3,5.5,6.1c2.8,2.5,5.7,4.9,8.5,7.3
				C1851.7,288.4,1852.3,288.8,1853.3,288.7L1853.3,288.7z M1707.9,100.6c0.4-0.4,0.6-0.5,0.7-0.7c1.2-2.1,2.3-4.3,3.7-6.2
				s3-3.8,4.5-5.7c0.2-0.2,0.4-0.4,0.5-0.7c0.9-1.8,1.8-3.6,2.7-5.4c0.1-0.1,0-0.3,0-0.6c-1.3,0.6-2.1,1.6-2.9,2.5
				c-0.6,0.7-1.1,1.4-1.2,2.4c-0.1,0.5-0.5,1-0.7,1.5c-1.3,2.3-2.8,4.5-4.8,6.2c-0.2,0.1-0.3,0.3-0.4,0.5c-0.6,0.7-0.9,1.4-1.1,2.3
				C1708.5,97.9,1708.2,99.1,1707.9,100.6L1707.9,100.6z M1843.1,14.4c0.1,0.1,0.2,0.2,0.3,0.2c1.7-0.1,3.5-0.2,5.2-0.3
				c0.3,0,0.6-0.1,0.8-0.2c1.3-0.9,2.6-0.7,3.9-0.4c1,0.2,2,0.3,3-0.1c0.5-0.2,0.9,0,1.3,0.1c1.6,0.5,3.2,0.9,4.8,1.3
				c0.3,0.1,0.8,0,1.1-0.6c-1.6-0.6-3.1-1.6-4.9-1.5c-0.7,0-1.3-0.2-2-0.4c-2.3-0.5-4.7-1-7.1-0.6c-2.1,0.4-4.1,1.2-6.1,2.1
				C1843.2,14.2,1843.2,14.3,1843.1,14.4L1843.1,14.4z M1701.8,116.6c-0.7,0.1-1.1,0.4-1.3,0.9c-0.2,0.4-0.8,0.7-0.9,1.1
				s-0.1,1-0.2,1.5c-0.1,0.3-0.3,0.7-0.3,1c-0.1,0.6-0.3,1.3-0.3,1.9c0,1.2,0.1,2.3,0.1,3.4c0,0.8,0.4,1.8,1,2.4
				c0.2-0.9,0.4-1.7,0.5-2.6c0.1-0.5,0-1,0.2-1.5c0.7-1.9,0.8-4,1.2-5.9c0.1-0.3-0.2-0.6-0.3-0.9c1.2-1.2,1.3-2.8,1.6-4.7
				c-0.5,0.7-0.7,1.4-1.4,1.3c-0.1,0-0.2,0.1-0.4,0.2c-0.3,0.2-0.4,0.6-0.2,0.9C1701.1,115.9,1701.3,116.1,1701.8,116.6L1701.8,116.6
				z M1726.8,169.3c0.6,0.6,1.3,1.1,1.8,1.8c0.6,0.8,1.3,1.4,2,2c1.5,1.3,1.5,1.3,3.4,0.7c0.8-0.2,1.5-0.5,2.1-1.2
				C1734.7,171.8,1728.7,169.5,1726.8,169.3L1726.8,169.3z M1719.4,159c-0.2,0.7,0.4,0.8,0.4,1.1c-0.1,1.5,0.8,2.4,1.8,3.1
				c1.6,1.3,3.3,2.3,5.2,3c1.1,0.4,2.2,1,3.7,1c-0.5-0.4-0.8-0.8-1.1-1c-0.9-0.6-1.8-1.2-2.7-1.7c-0.8-0.4-1.8-0.6-2.6-1.1
				c-0.8-0.5-1.5-1.1-2.2-1.7c0-0.4,0.1-0.7,0.1-1.1C1721,160.3,1720.4,159.3,1719.4,159L1719.4,159z M1699.2,272.4
				c-0.2,0.1-0.3,0.2-0.2,0.2c0.4,2.9,1.2,5.5,2.7,7.9c0.6,1,1.3,1.5,2.4,1.7c0-0.1,0-0.3-0.1-0.4c-1.2-1.6-1.9-3.5-2.9-5.3
				c-0.4-0.7-0.8-1.4-1-2.3C1700,273.5,1699.5,273,1699.2,272.4L1699.2,272.4z M1702,231c-1.2,1.5-2.5,2.9-2.5,5
				c0.5,0.1,0.6-0.9,1.2-0.4c-0.2,0.7-0.4,1.4-0.7,2.3c1-0.9,1.4-1.7,1.5-2.4c0-0.1,0.1-0.3,0-0.4c-0.8-1.1-0.1-2,0.3-3
				C1701.8,231.6,1701.9,231.3,1702,231L1702,231z M1817,223.2c0.9-0.3,1.1-0.3,1.3-1.3c0.3-1.1,1.4-2.2,0.6-3.7
				C1817.7,219.7,1817.3,221.4,1817,223.2L1817,223.2z M1697.8,264.8c-0.6,0.6-0.7,0.9-1,1.1c-0.3,0.2-0.8,0.1-0.9,0.8
				c0.5,0,1,0,1.4,0c0.2,0.8,0.3,1.4,0.4,2c0.1,0.7,0.4,1.3,1,1.8C1698.7,268.7,1697.8,267.1,1697.8,264.8L1697.8,264.8z
				 M1763.5,276.7c0.6-0.8,1.3-1.2,2.2-1.4c0.8-0.1,1.4-0.6,1.9-1.2c0.2-0.2,0.2-0.5,0.3-0.9c-2.2,0.7-3.8,2.3-5.9,3
				c0.2,0.2,0.3,0.3,0.4,0.3C1762.7,276.6,1763,276.6,1763.5,276.7L1763.5,276.7z M1717.7,277c0.6,0,1.2-0.1,1.9-0.2
				c-0.6-1.1-1.4-1.8-2.5-2.1c-0.2,0-0.5,0.1-0.8,0.2C1716.8,275.7,1717.2,276.3,1717.7,277z M1949,185.4c-0.6-0.6-1.1-1-1.6-1.4
				c-0.6-0.6-1.4-1-2.3-1c0.4,1.1,1.4,1.6,2.1,2.4C1947.8,186.1,1948.3,185.8,1949,185.4L1949,185.4z M1710.8,207.8
				c-0.7-0.3-1.1,0.1-1.4,0.4c-0.8,0.6-0.9,0.9-1,1.8c0.7,0,0.8-0.6,1.2-1C1709.9,208.7,1710.2,208.3,1710.8,207.8L1710.8,207.8z
				 M1850.1,17c-0.9,0-1.4,0-1.9,0c-0.4,0-0.9,0-1.3,0C1847.8,16.9,1848.7,18.2,1850.1,17L1850.1,17z M1699,240.8
				c0.8-0.3,1.1-0.8,1-1.5c0-0.1-0.2-0.3-0.3-0.2c-0.7,0.1-0.7,0.7-0.8,1.3C1698.9,240.4,1699,240.5,1699,240.8L1699,240.8z
				 M1756,176.8c0-0.1,0-0.2,0-0.3c-0.7-0.3-1.3-0.6-2-0.8c-0.2-0.1-0.5-0.1-0.4,0.5C1754.3,176.3,1755.2,176.5,1756,176.8
				L1756,176.8z M1709.4,272.1c-0.4-0.7-1-1-2-0.9C1707.8,272,1708.4,272.2,1709.4,272.1z M1741.8,178c-0.8-0.6-1.4-0.3-2,0
				c-0.2,0.1-0.6,0.1-0.3,0.6C1740.1,178.4,1740.8,178.3,1741.8,178L1741.8,178z M1819.3,214.9c-0.5,0.7-0.6,1.4-0.5,1.9
				C1819.4,216.4,1819.5,215.8,1819.3,214.9z M1767.4,283.7c-0.8,0.4-1.3,0.8-1.5,1.3C1766.7,285.2,1767,284.7,1767.4,283.7z
				 M1712.5,205.6c-0.5,0-1,0.4-1.5,1.2C1711.7,206.2,1712,205.9,1712.5,205.6z M1697,117.4c-0.6,0.8-0.6,1.4-0.4,2.3
				C1697.2,118.9,1697.2,118.3,1697,117.4z M1694.1,266.1c-0.1-0.8-0.3-1.3-0.9-1.7C1693.2,265.2,1693.5,265.6,1694.1,266.1z
				 M1722.3,294.8c-0.2-0.4-0.4-0.8-0.8-0.3C1721.8,294.5,1722.1,294.6,1722.3,294.8z M1695,256.7c0.3-0.2,0.6-0.4,0.5-0.4
				c-0.1-0.2-0.2-0.5-0.3-0.7c-0.2,0.1-0.4,0.2-0.4,0.3C1694.8,256.1,1694.9,256.3,1695,256.7z M1774.7,279.9c-0.5,0-0.9,0.3-1.3,0.9
				C1773.9,280.4,1774.3,280.1,1774.7,279.9z M1735.4,171c-0.4-0.3-0.8-0.6-1.7-0.4L1735.4,171z M1695.2,128.6
				c-0.4,0.6-0.4,1.1,0.3,1.5C1695.3,129.5,1695.3,129,1695.2,128.6z M1690.5,267.2c-0.1,0.3-0.2,0.5-0.2,0.8c0,0.1,0.1,0.3,0.2,0.3
				c0.1,0,0.3-0.1,0.3-0.1C1690.9,267.8,1691,267.5,1690.5,267.2L1690.5,267.2z M1706.6,212c0.3-0.2,0.4-0.3,0.6-0.4
				c0.1-0.1,0-0.2,0.1-0.4c-0.2,0-0.4,0-0.4,0.1C1706.7,211.4,1706.7,211.6,1706.6,212L1706.6,212z M1768.9,283.5
				c0-0.1,0.1-0.2,0.1-0.2c-0.1-0.1-0.2-0.2-0.3-0.1c-0.2,0.1-0.3,0.2-0.4,0.4c0.1,0,0.1,0.1,0.1,0.1
				C1768.5,283.6,1768.7,283.6,1768.9,283.5L1768.9,283.5z M1697.3,250.8c-0.1-0.1-0.3-0.2-0.4-0.3c0,0-0.2,0.2-0.2,0.3
				c0.1,0.1,0.2,0.3,0.4,0.4C1697.1,251,1697.2,250.9,1697.3,250.8z M1802.2,27.9c-0.2,0.1-0.3,0.2-0.5,0.3c-0.1,0.1-0.1,0.4-0.2,0.5
				c0.2,0,0.3,0,0.4-0.1C1802.2,28.4,1802.5,28.3,1802.2,27.9L1802.2,27.9z M1725.4,273.3c0.1,0.1,0.1,0.3,0.2,0.3
				c0.1,0,0.2,0,0.3-0.1c0,0-0.1-0.1-0.1-0.1C1725.6,273.4,1725.5,273.4,1725.4,273.3L1725.4,273.3z M1747.4,276.3
				c-0.6-0.1-0.8-0.2-0.9-0.2c-0.1,0-0.1,0-0.2,0.1c0.1,0.1,0.1,0.2,0.2,0.2C1746.6,276.4,1746.8,276.3,1747.4,276.3L1747.4,276.3z
				 M1690.5,264.5c-0.1,0-0.2,0-0.2,0.1c0,0.2,0,0.4,0,0.6c0.1,0,0.2,0,0.2,0C1690.5,265,1690.5,264.8,1690.5,264.5L1690.5,264.5z
				 M1815.4,223.3c-0.2-0.2-0.3-0.3-0.4-0.4c0,0-0.2,0.2-0.2,0.2c0,0.2,0.1,0.3,0.2,0.5C1815,223.6,1815.2,223.5,1815.4,223.3z
				 M1725.5,171.9c0-0.2,0-0.4-0.1-0.4c-0.2-0.1-0.3,0-0.5,0c0,0.1,0,0.3,0.1,0.3C1725.1,171.8,1725.3,171.8,1725.5,171.9
				L1725.5,171.9z M1729.4,174.1c0.1,0.2,0.1,0.3,0.2,0.4c0.2,0,0.4,0,0.5-0.1c-0.1-0.1-0.1-0.3-0.2-0.3
				C1729.8,174.1,1729.6,174.1,1729.4,174.1L1729.4,174.1z M1715.7,272.9c-0.1,0.1-0.2,0.1-0.2,0.2c0.1,0.1,0.1,0.2,0.2,0.2
				c0.1,0,0.2-0.1,0.2-0.2C1715.9,273.1,1715.8,273,1715.7,272.9L1715.7,272.9z M1693.6,249.8c-0.1,0.1-0.2,0.1-0.2,0.2
				c0.1,0.1,0.1,0.2,0.2,0.3c0,0,0.2-0.1,0.2-0.2C1693.7,250,1693.6,249.9,1693.6,249.8L1693.6,249.8z M1695.1,142.7
				c-0.1,0.1-0.2,0.2-0.3,0.4c0,0.1,0.2,0.3,0.2,0.2c0.2-0.1,0.3-0.2,0.4-0.3C1695.3,142.9,1695.2,142.9,1695.1,142.7z M1699.9,265.8
				c0-0.1,0-0.1-0.1-0.2c-0.1,0-0.2,0.1-0.3,0.1c0,0,0,0.1,0.1,0.2C1699.7,265.9,1699.8,265.9,1699.9,265.8L1699.9,265.8z
				 M1699.5,92.8c0-0.1-0.1-0.3-0.1-0.4c-0.1,0.1-0.2,0.2-0.2,0.2c0,0.2,0.1,0.3,0.1,0.5C1699.4,93,1699.4,92.9,1699.5,92.8
				L1699.5,92.8z M1771.1,282.3c0.1-0.1,0.1-0.2,0.2-0.3c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.2,0.1-0.3,0.2
				C1770.9,282.1,1771,282.2,1771.1,282.3L1771.1,282.3z M1704.8,165c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.2,0-0.3,0c0,0.1,0,0.3,0.1,0.4
				C1704.5,165.1,1704.7,165,1704.8,165z M1713.3,72.7c0-0.1,0-0.1-0.1-0.2c-0.1,0.1-0.2,0.1-0.3,0.2c0,0,0,0.1,0.1,0.2
				C1713.1,72.8,1713.2,72.7,1713.3,72.7L1713.3,72.7z M1811.8,21.9c0,0.1-0.1,0.1,0,0.2s0.1,0,0.1,0.1l0.1-0.3
				C1811.9,21.8,1811.9,21.9,1811.8,21.9z M1701,88.8c0-0.1,0-0.1,0-0.2c-0.1,0-0.2,0.1-0.3,0.1c0,0.1,0,0.1,0.1,0.2
				C1700.9,88.9,1700.9,88.8,1701,88.8z M1732.3,169.9c0,0,0-0.1,0-0.1c0,0-0.1,0-0.2,0c0,0.1,0,0.1,0,0.2
				C1732.2,169.9,1732.3,169.9,1732.3,169.9z M1719.1,207.3c0,0-0.1-0.1-0.1-0.1c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0.1,0.1,0.1,0.1
				C1719,207.4,1719,207.4,1719.1,207.3L1719.1,207.3z M1707.6,94.3c0.1-0.1,0.1-0.2,0.1-0.3c0,0-0.1-0.1-0.1-0.1
				c-0.1,0.1-0.1,0.2-0.2,0.3C1707.5,94.2,1707.5,94.2,1707.6,94.3L1707.6,94.3z M1696,265c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0.1-0.1,0.1
				c0,0,0.1,0.1,0.1,0.1L1696,265L1696,265z M1697.6,241.5l-0.1,0.1l0.1,0L1697.6,241.5L1697.6,241.5z M1704.2,110.5
				c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1,0-0.2,0.2-0.2,0.3c0,0.1,0.2,0.2,0.2,0.2C1704.1,110.8,1704.1,110.6,1704.2,110.5L1704.2,110.5z
				 M1765,274c0.1-0.1,0.2-0.2,0.2-0.3c-0.1,0-0.1-0.1-0.1-0.1c-0.1,0-0.2,0.1-0.3,0.2C1764.9,273.8,1764.9,273.9,1765,274L1765,274z
				 M1689.5,255.9c-0.1,0.1-0.1,0.2-0.1,0.2c0.1,0,0.1,0,0.2,0C1689.6,256.1,1689.6,256,1689.5,255.9L1689.5,255.9z M1693.5,255.2
				l0.1-0.1l-0.1-0.1L1693.5,255.2L1693.5,255.2z M1702.7,233.6c-0.1,0-0.1-0.1-0.2-0.1c0,0.1-0.1,0.1-0.1,0.1c0,0.1,0.1,0.1,0.1,0.1
				C1702.7,233.7,1702.7,233.7,1702.7,233.6L1702.7,233.6z M1702.1,160.5c-0.1-0.1-0.2-0.1-0.2-0.1c0,0.1,0,0.1,0,0.1
				C1702,160.5,1702,160.5,1702.1,160.5z M1712.9,170.8c0-0.1,0-0.1,0-0.2c0,0-0.1-0.1-0.2-0.1c0,0.1,0,0.2,0,0.3
				C1712.8,170.8,1712.8,170.8,1712.9,170.8L1712.9,170.8z M1733.8,189.4l-0.1-0.1l-0.1,0.1L1733.8,189.4L1733.8,189.4z
				 M1730.3,179.7l0.1,0.1l0.1-0.1L1730.3,179.7L1730.3,179.<a href="/website-gif-sound.mp4">13,21189</a>.187z"/>"
	</p>
</div>