---
title: "Matrix"
layout: "base"
---

<div class="sure">
    <p>Are you sure you want to leave the Matrix?</p>
    <div class="selection">
        <a href="/matrix" style="margin: 2vw;">yes</a>
        <a href="/" style="margin: 2vw;"> no </a>
    </div>
</div>
